---
import Layout from "../../layouts/Layout.astro";
import InteractiveDemo from "../../components/InteractiveDemo.astro";
import demoConfig from "../../data/demo-config-ja.json";
---

<Layout>

    <!-- Hero Start -->
    <section class="bg-half-260 bg-light d-table w-100">
        <!-- <div class="bg-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-heading text-center mt-4">
                        <h1 class="display-4 fw-bold mb-3">
                            拡張性を重視した<br />オープンソースの<br />ノーコードプラットフォーム
                        </h1>
                        <p class="para-desc mx-auto text-muted">
                            NocoBaseはシステム管理を自社内で完結できるプラットフォームであり、運用も自由にカスタマイズ可能です。
                            また、ノーコード開発により、開発コストを削減するだけでなく、 チームの生産性を向上させます。
                            <br /> NocoBaseを数分で構築できます。
                        </p>
                        <div class="mt-4 pt-2">
                            <a href="#section-for-you" title="NocoBaseは誰のためか" class="btn btn-primary mb-2"
                            >こんなお悩みありませんか？ <i class="uil uil-arrow-down"></i></a
                            >
                            <a
                                    href="https://v8.demo.nocobase.com/new"
                                    target="_blank"
                                    class="btn btn-outline-primary mb-2"
                                    title="NocoBaseのオンライン体験をクリックする"
                            >今すぐ無料デモ体験！<i class="uil uil-angle-right-b"></i></a
                            >
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
                        fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- For you Start -->
    <section class="section pb-0" id="section-for-you">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">よくあるお悩み</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            社内向け、クライアント向けなど様々な利用目的や方法が存在する業務管理システムにおいて直面しやすい
                            <span class="text-primary fw-bold">お悩み</span>や
                            <span class="text-primary fw-bold">課題</span>
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                                class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i class="uil uil-silent-squint text-primary text-warning"></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">度重なる業務フローの変更</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                                class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i class="uil uil-silent-squint text-primary text-warning"></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">厳しい納期スケジュール</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                                class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i class="uil uil-silent-squint text-primary text-warning"></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">属人化してしまう開発プロセス</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                                class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i class="uil uil-silent-squint text-primary text-warning"></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">積み上がっていく開発コスト</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mt-5 mb-4 pb-2">
                        <p class="text-muted para-desc mx-auto mb-0">
                            従来の開発手法に限界を感じ、ノーコード開発の導入が必要だと考えるようになる一方で、ノーコードプラットフォームに対して<span
                                class="text-primary fw-bold">次のような不安</span>を感じている方も多いのではないでしょうか。
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div
                        class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0"
                >
                    <ul class="list-unstyled">
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >ノーコード機能が限られており、主にフォームやテーブルの作成に特化している
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >機能が固定的でカスタマイズが難しく、要件を満たせない場合、ユーザーが対応できない
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >ソースコードにアクセスできず、データがサードパーティのサーバーに保存されるため、プライバシーとセキュリティの保証が難しい
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >システムが不安定で、問題が発生した際の原因追跡や解決が困難
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >既存のシステムとスムーズに連携することが難しい
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-sad-dizzy align-middle text-warning"
            ></i></span
            >ユーザー数やアプリケーション数に基づいた課金モデルに縛られ、購入した製品が自社の所有物にならない
                        </li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mt-4 mb-4 pb-2">
                        <p class="text-muted para-desc mx-auto mb-0">
                            ご安心ください！NocoBaseをお試しください。<br />
                            NocoBaseは、あなたの開発チームのために特別に設計された<span class="text-primary fw-bold">インフラ</span>で、<br />
                            各ニーズに応じて柔軟にカスタマイズ可能です。これにより、効率的かつ迅速にシステムを構築できます！
                        </p>
                    </div>
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-how" class="btn btn-primary"
                        >NocoBaseのメリットは？ <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- For you End -->

    <!-- How Start -->
    <section class="section pb-0" id="section-how">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">NocoBaseの特徴</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            「ノーコード」は、業務システムを迅速に開発するための強力な手段ですが、すべてのニーズを満たすわけではありません。そこでNocoBaseでは、次のような基本方針を採用しています。
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-7 p-4 bg-light rounded shadow text-center">
                    <p class="mb-0">
          <span class="text-primary fw-bold" style="font-size: 20px;"
          >80%</span
          > の要件はノーコードで解決でき、<br
                    /><span class="text-primary fw-bold" style="font-size: 20px;"
                    >20%</span
                    > は拡張機能によって実現を可能としています。
                    </p>
                </div>
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">データモデル</span>に基き、ユーザーインターフェースとデータ構造を分けた設計
                        </h5>
                        <p class="text-muted">
                            フォームやテーブルを中心とした開発方法と比べて、データモデルを中心にした開発は無限の柔軟性と拡張性を提供します。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >データ構造とユーザーインターフェース（UI）を分けた管理
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >テーブルやレコードごとに、複数のブロックやアクションを自由に作成できるカスタマイズ性
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >主要なデータベース、外部データベース、サードパーティAPIをデータソースとして簡単に統合可能
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img src="https://static-docs.nocobase.com/model.png" alt="NocoBaseのデータモデル駆動アプローチ、ユーザーインターフェイスとデータ構造の分離。テーブルとレコードのための複数のブロックとアクションをサポートし、主要なデータベース、外部データベース、サードパーティAPIのデータソースへの統合をサポート。" />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">直感的</span>かつ<span class="text-primary">誰でも簡単に使える</span>インターフェース
                        </h5>
                        <p class="text-muted">
                            NocoBaseでは、複雑な業務プロセスや特定の要件に対応したシステムを開発でき、操作はとても簡単です。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >使用モードと設定モードを、ワンクリックで簡単に切り替え可能
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >ページはcanvasのように使え、自由にブロックやアクションを配置し、Notionのように理想的なインターフェースを簡単に構築
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >UI設定モードは、プログラミングの知識がないユーザーでも使えるような設計
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7 col-md-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img src="https://static-docs.nocobase.com/wysiwyg.gif" alt="NocoBase WYSIWYGインターフェイス、簡単に使用でき、構成可能なUIで複雑なビジネスシステムを開発します。Notionのように使用モードと構成モードをワンクリックで切り替え、普通のユーザーがインターフェースを作成してカスタマイズすることができます。" />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            すべては<span class="text-primary">プラグイン</span>形式で提供され、必要に応じて自由に拡張できる設計
                        </h5>
                        <p class="text-muted">
                            複雑で変化するビジネスシナリオでは、ノーコード機能を追加するだけでは対応が難しくなる場合があります。NocoBaseは拡張開発を前提に設計されており、プラグインを自由に追加・カスタマイズすることで、多様なニーズに対応可能です。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >設計思想はWordPressに近く、すべての機能をプラグインとして追加できるマイクロカーネルアーキテクチャを採用
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >プラグインをインストール後、すぐに使える手軽さ
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >ページ、ブロック、アクション、API、データソースなどの主要要素に対応したプラグインを新たに開発することで、特定の業務フローや新しい要件にも柔軟に対応
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7 col-md-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img src="https://static-docs.nocobase.com/plugins.png" alt="NocoBaseプラグインアーキテクチャ、拡張開発のために設計されたマイクロカーネルアプローチ。すべての機能がWordpressのようにプラグインとして実装。ページやブロック、アクション、API、データソースなどのプラグインは、簡単にインストールでき、複雑で進化し続けるビジネス要件を満たすために開発できます。" />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-5">
                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">オープンソース</span>と主流の技術スタック
                        </h5>
                        <p class="text-muted">
                            NocoBaseでは、コア機能と基盤となるプラグインが完全にオープンソースで提供されており、ユーザーがソースコードを自由に確認・変更できるため、高い透明性と管理のしやすさが確保されています。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >TypeScriptで開発されており、型安全性を提供
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >Node.js、React、Koaなど、業界標準の技術スタックを使用
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >標準インターフェースを採用し、独自のDSL（ドメイン固有言語）はなし
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >シンプルで軽量な設計で、低スペックサーバーでも動作し、少人数での開発・管理・拡張が可能
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            ログと<span class="text-primary">モニタリング機能</span>
                        </h5>
                        <p class="text-muted">
                            NocoBaseはシステム動作の透明性を保証しまた、詳細なログ機能とリアルタイムのモニタリングアラート機能を提供することで、問題発生時には迅速に対応できるようになっています。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >インターフェースリクエストとシステム操作に関するログを、ログプラグインが提供します。
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >ログの詳細設定（ログレベル、ロールポリシー、サイズ、表示フォーマットなど）をサポートしています。
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >OpenTelemetryやPrometheusなどの監視ツールと統合されたテレメトリプラグインを使用して、開発者はさまざまなシステムメトリクスを監視できます。
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            サードパーティシステムとの<span class="text-primary">連携</span>
                        </h5>
                        <p class="text-muted">
                            NocoBaseは外部サービスと簡単に連携できるオプションを提供しています。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >サードパーティのデータベースをデータソースとして統合
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >他のシステムのAPIを利用して、データソースとして接続可能
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >シングルサインオン（SSO）を使って、ユーザー認証をシームレス化
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >サードパーティシステムと簡単に統合し、1つの統一されたエンティティとしての運用
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >複数のNocoBaseアプリケーション間で、親子関係やマルチアプリケーションの構成を実現
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">無料</span>、または一回払いで永続的に使用
                        </h5>
                        <p class="text-muted">
                            NocoBaseはオープンソースとして無料で提供されており、商用ライセンスとプラグインはオープンソース版に加えて提供されます。商用ライセンスとプラグインは、一度購入すれば永続的に使用可能です。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >定期的なサブスクリプション料金は不要
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >ユーザー数に制限なし
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >作成可能なアプリケーションの数にも制限なし
                            </li>
                            <li class="mb-1 concerns-li">
              <span class="text-primary h5 me-2 concerns-span"
              ><i class="uil uil-smile-beam align-middle"></i></span
              >保存できるデータ量にも制限なし
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-right" class="btn btn-primary"
                        >NocoBaseのデメリットは？ <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- For you End -->

    <!-- Right way Start -->
    <section class="section pb-0" id="section-right">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">NocoBaseの正しい使い方</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            ノーコードは万能ではなく、NocoBase もまた万能ではありません。
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-md-6 col-12">
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-silent-squint align-middle text-warning"
            ></i></span
            >ローコードプラットフォームではないため、インターフェース上で直接コーディングを行うことはできません。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-silent-squint align-middle text-warning"
            ></i></span
            >コードジェネレーターではないため、開発したシステムのコードをエクスポートする機能はありません。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-silent-squint align-middle text-warning"
            ></i></span
            >技術的な知識やスキルを持たないチームでは利用が難しい設計になっています。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-silent-squint align-middle text-warning"
            ></i></span
            >SaaS型ではないため、サブスクリプションや従量課金モデルを利用することはできません。
                        </li>
                    </ul>
                </div><!--end col-->

                <div class="col-md-6 col-12">
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-grin align-middle"></i></span
            >技術チームはNocoBaseをインフラとして活用し、システムの納品速度と開発効率を大幅に向上させることができます。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-grin align-middle"></i></span
            >技術チームは拡張プラグインを活用してNocoBaseの機能をさらに強化し、非開発者でもコードなしでその上に構築できます。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-grin align-middle"></i></span
            >単純なものから複雑なものまで、多様な業務システムや内部ツールを柔軟に開発できます。
                        </li>
                        <li class="mb-1 concerns-li">
            <span class="text-primary h5 me-2 concerns-span"
            ><i class="uil uil-grin align-middle"></i></span
            >独自のサーバーに展開して使用できるため、システムを完全に自社で管理できます。
                        </li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-try" class="btn btn-primary"
                        >お試しください！ <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

    <!-- Try Start -->
    <section class="section pb-0" id="section-try">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <InteractiveDemo guides={demoConfig} />
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-feedback" class="btn btn-primary"
                        >導入後の成功事例 <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

    <!-- Feedback Start -->
    <section class="section pb-0" id="section-feedback">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h3 class="title mb-4">導入したお客様の声</h3>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-9 mt-4 pt-2">
                    <div class="tiny-single-item text-center">
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                NocoBase の使用により、我々の管理業務時間は50%短縮され、コラボレーションとコミュニケーションが強化され、採用プロセスがより迅速かつ効率的になりました。
                            </p>
                            <p class="text-muted fst-italic">
                                TEDxDUTHでは、革新とコラボレーションの力が世界を変えることができると信じています。NocoBaseは日常業務を簡素化し、本当に重要なことに集中できるようにしてくれます—素晴らしいイベントを開催し、価値あるアイデアを広めることです。
                            </p>
                            <p class="text-muted fst-italic">
                                もしあなたの組織が混乱や非効率的なワークフローに直面している場合、NocoBaseは単なるツールではありません—それはチームの潜在能力を発揮し、より多くの可能性を実現する包括的なソリューションです。我々にとって、NocoBaseはゲームチェンジャーのような存在で、夢を抱かせ、仕事の仕方を根本的に変革し、コミュニティに持続的な影響を与えています。
                            </p>
                            <p class="text-muted fst-italic">
                                NocoBaseが我々の旅路において不可欠なパートナーとなったことに感謝しています。我々は共に歩み、革新とインスピレーションの拡散を推進していきます！
                            </p>
                            <img
                                src="https://static-docs.nocobase.com/20250713094749.png"
                                class="mt-4 mb-4"
                                width="160"
                                alt="TED"
                            />
                            <h6 class="text-primary">
                                Sarantis Antoniou <small class="text-muted">リードオーガナイザー </small>
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                我々はAirTableとNocoDBを評価しましたが、最終的にシステムの自由度と展開方法のニーズにより適したNocoBaseを選択しました。NocoBaseは我々のAWS環境に展開でき、ユーザー数に制限がなく、きめ細かな権限制御が可能で、ページとデータの分離アーキテクチャにより柔軟なフロントエンドカスタマイズが可能です。同時に、内蔵のワークフローと自動API生成機能により、効率が大幅に向上しました。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://classmethod.jp/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094650.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="classmethod"
                                /></a
                            >
                            <h6 class="text-primary">
                                クラスメソッド株式会社（Classmethod, Inc.）
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                NocoBaseを選択する前、我々には専門的な顧客サービスと運営管理システムがありませんでした。ビジネスが急速に発展し、急速に構築して増加する需要に対応する必要がありました。NocoBaseはこの問題を非常によく解決してくれました。そのデータテーブル関連能力は特に優れており、異なるデータ構造を効率的に統合でき、顧客サービス担当者はユーザー情報を迅速に照会し、リアルタイムでユーザーの権益問題を処理できるようになり、業務効率が大幅に向上しました。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.plaud.ai/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094635.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="PLAUD"
                                /></a
                            >
                            <h6 class="text-primary">
                                PLAUD プロダクトマネージャー Lucas
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                我々は常に、顧客Okechampの急速に成長する物流業務ニーズに対応するため、完全にカスタマイズされたスケジューリングシステムを構築する柔軟なノーコードプラットフォームを探していました。調査段階で、NocoBaseはSchema-firstアーキテクチャ、モジュラー設計、活発なコミュニティにより際立っていました。カスタムビューとレポート管理を簡単に実装できました。今後も多くのクライアントプロジェクトでNocoBaseを採用していく予定です。
                            </p>
                            <img
                                src="https://static-docs.nocobase.com/20250713094700.png"
                                class="mt-4 mb-4"
                                width="160"
                                alt="Lukardi"
                            />
                            <h6 class="text-primary">
                                Lukardi SA
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                以前は紙ベースのプロセスで人事管理と休暇承認を行っていましたが、効率が悪く、エラーが発生しやすい状況でした。NocoBaseを使用して人事、出勤、休暇などの業務フローを構築して以来、真のペーパーレスオフィスを実現しました。110名以上の従業員の管理が効率的で直感的になりました。NocoBaseの柔軟なインターフェース設計と強力なAPI機能は、我々の不動産業界の多様なニーズを完全に満たしています。Salesforceなどのツールと比較して、高度にカスタマイズ可能なだけでなく、一回限りの買い切りもサポートしており、非常にコストパフォーマンスが高いです。現在、CRMを含むより多くのシステムをNocoBaseに移行し、会社のポータルとビジネスコアプラットフォームとして構築する計画を進めています。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://housewell-group.jp/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094720.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="HouseWell"
                                /></a
                            >
                            <h6 class="text-primary">
                                ハウスウェル株式会社(HouseWell)
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                スマートファクトリーシステムの構築過程において、我々はNocoBaseをコアプラットフォームとして選択しました。その極めてシンプルな設定プロセスにより、非技術者でも迅速にシステムページを構築でき、開発効率が大幅に向上しました。同時に、プラグインエコシステムとワークフローエンジンにより、多様な業務シナリオに柔軟に対応でき、システムの品質と拡張性を確保できました。NocoBaseのきめ細かな権限システムを活用することで、設備メンテナンス、人事管理などのプロセスにおいて効率的なコラボレーションとデータセキュリティの共存を実現しました。システム展開後、PC + モバイル + 5Gネットワークアーキテクチャと組み合わせて、データのリアルタイムフィードバックと効率的な入力を成功に実現し、スマートファクトリー建設の堅実な基盤を築きました。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.bielcrystal.com"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094732.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="BIEL"
                                /></a
                            >
                            <h6 class="text-primary">
                                伯恩光学控股有限公司 BIEL
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                多くの新しいデータベース製品の中で、NocoBaseは私に「あれもこれも、それも」を実現できると感じさせた唯一のソリューションです。我々には、数十のチームにわたるタスクコラボレーションと、規範性の高い専門的なシナリオをサポートする非SaaS、ローコード、スケーラブルなシステムが必要でした。NocoBaseの学習曲線は予想外に滑らかで、数日以内に開発者に依存することなく業務プロセスの構築を完了することができました。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.aoya-hk.com/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094804.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="奥雅設計"
                                /></a
                            >
                            <h6 class="text-primary">
                                奥雅設計 業務責任者 張廷源
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                国内外の複数のローコードプラットフォームを比較調査した結果、最終的にNocoBaseを選択しました。ローカライズされた展開と機能拡張をサポートし、化学分野におけるデータセキュリティとシステムカスタマイズの高い基準要求に完全に適合しています。NocoBaseの専門的なサポートチームと柔軟なデータモデリング機能により、システムの稼働が効率的で信頼性の高いものになりました。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://xtalpi.com/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094812.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="晶泰科技"
                                /></a
                            >
                            <h6 class="text-primary">
                                晶泰科技 プロジェクト責任者 熊智
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                NocoBaseは、no-code/low-codeプラットフォームとしての優れた体験を強調しきれません。それは非常にユーザーフレンドリーであり、我々の開発プロセスを滑らかで効率的なものにしてくれます。データモデルが確立されたら、ユーザーエクスペリエンスの開発がいかに簡単になるかが印象的でした。この効率化されたアプローチにより、数百の組織によって使用されるフルシステムを数週間で開発することができました。
                            </p>
                            <p class="text-muted fst-italic">
                                強力なシステムには数ヶ月または数年が必要という一般的な誤解を打ち砕いたのがNocoBaseです。品質を犠牲にすることなく、開発サイクルを迅速化したいすべての組織に強くおすすめします。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://sambruk.se/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094827.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="Sambruk"
                                /></a
                            >
                            <h6 class="text-primary">
                                Thomas Wennersten <small class="text-muted">CTO</small>
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                データ管理、APIサービス、ワークフローの中核としてのNocoBaseは、開発の難しさを大いに低下させ、我々の開発者がビジネスロジックの実装により集中できるようにし、開発効率を大幅に向上させてくれます。
                            </p>
                            <p class="text-muted fst-italic">
                                NocoBaseは優れた統合機能を持ち、さまざまな第三者サービスやシステムとシームレスに接続することができ、データ共有や機能統合を実現します。これは、すべての機能をゼロから構築する必要がないことを意味し、既存のサービスやリソースを十分に活用して、さまざまな機能やサービスをアプリケーションに迅速に統合することができます。この統合能力は開発時間やコストを削減し、アプリケーションの機能を豊かで多様にし、ユーザーの多様なニーズに対応することができます。
                            </p>
                            <p class="text-muted fst-italic">
                                この急速に進化するデジタル時代において、NocoBaseは我々にとって挑戦に立ち向かい、革新を達成するための強力な武器であることは疑いありません。NocoBaseチームの努力に感謝しています。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.chinaunicom.com/"
                                target="_blank"
                                ><img
                                    src="https://nocobase-docs.oss-cn-beijing.aliyuncs.com/liantong.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="China unicom"
                                /></a
                            >
                            <h6 class="text-primary">
                                新疆联通科创实验室
                            </h6>
                        </div>
                    </div><!--end owl carousel-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Feedback End -->

    <!-- Get Start -->
    <section class="section" id="section-get">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3 class="title mb-4">NocoBaseを始めましょう！</h3>
                    <p class="text-muted para-desc mx-auto mb-0">
                        わずか1分でお客様専用のデモをデプロイできます。またはローカル環境で展開し、カスタマイズをじっくり試すことも簡単です。
                    </p>
                    <div class="mt-4">
                        <a
                            href="https://v8.demo.nocobase.com/new"
                            target="_blank"
                            class="btn btn-primary mt-2 mb-4"
                            title="オンラインでNocoBaseを体験するにはクリックしてください"
                        >今すぐ無料デモ体験！<i class="uil uil-arrow-right"></i></a
                        >
                        <a
                            href="https://docs.nocobase.com/welcome/getting-started/installation"
                            target="_blank"
                            class="btn btn-outline-primary mt-2 mb-4"
                            title="ローカルでNocoBaseをデプロイする方法を学ぶ"
                        >ローカル環境でインストール <i class="uil uil-arrow-right"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Get End -->

</Layout>
