---
import FormattedDate from "../../../components/FormattedDate.astro";
import PageHeader from "../../../components/PageHeader.astro";
import BaseLayout from "../../../layouts/BaseEN.astro";
import { listReleases } from "../../../utils";

const data = await listReleases();
---

<BaseLayout>
  <PageHeader title="Release notes" description="了解 NocoBase 更新内容，掌握最新功能和修复的进展。"/>
  <section class="section">
    <div class="container">
      <main>
        {
          data.map((post) => (
            <div>
              <a href={`/en/release/${post.slug}/`}>
                <h4 class="title">{post.title}</h4>
                <p class="date">
                  <FormattedDate date={post.createdAt}/>
                </p>
              </a>
            </div>
          ))
        }
      </main>
    </div>
  </section>
</BaseLayout>

<style>
  main {
    width: 960px;
    text-align: center;
    margin: 0 auto;
  }
</style>
