---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getPage } from "../../../utils";

const page = await getPage("block-action");

const title = page.title;
const description = page.description;
const keywords = page.keywords;
---

<Layout title="Plugin bundle" description={description} keywords={keywords}>
  <PageHeader title={title}>
    <span slot="description" set:html={description}></span>
  </PageHeader>
  <!-- Start Highlights -->
  <section class="section">
    <div class="container">
      <div class="row align-items-top ">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">界面与数据<span class="text-primary">解耦</span>：自由组合区块与操作</h5>
            <p class="text-muted">不同于从页面入手的无代码产品，NocoBase 以数据驱动，先有数据结构，再创建界面。这意味着同一数据可为不同场景提供差异化界面和操作。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.1-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">同一个<span class="text-primary">筛选区块</span>，作用于多个数据区块</h5>
            <p class="text-muted">当一个页面中有多个数据区块，比如多个表格、图表，可以使用一个筛选区块对它们同时筛选。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.2-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">使用<span class="text-primary">事件流</span>联动多个区块与操作</h5>
            <p class="text-muted">当一个页面中有多个区块和操作时，可以使用事件流来编排他们之间的交互逻辑。比如在 CRM 中查看客户时，需要同时从 ERP 中查询出该客户的订单记录。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.3-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Highlights End -->
</Layout>