---
import Layout from "../../layouts/Layout.astro";
import InteractiveDemo from "../../components/InteractiveDemo.astro";
import demoConfig from "../../data/demo-config-cn.json";
---

<Layout>
    <!-- Hero Start -->
    <section class="bg-half-260 bg-light d-table w-100">
        <!-- <div class="bg-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-heading text-center mt-4">
                        <h1 class="display-4 fw-bold mb-3">
                            极易扩展的<br />无代码开发平台
                        </h1>
                        <p class="para-desc mx-auto text-muted">
                            完全掌控，无限扩展，助力你的开发团队快速响应变化，显著降低成本。<br
                            />这一切，不必投入几年时间和数百万资金研发<br />-
                            只需要花几分钟部署 NocoBase。
                        </p>
                        <div class="mt-4 pt-2">
                            <a
                                href="#section-for-you"
                                class="btn btn-primary mb-2"
                                >适合你吗？<i class="uil uil-arrow-down"></i></a
                            >
                            <a
                                href="https://demo-cn.nocobase.com/new"
                                target="_blank"
                                class="btn btn-outline-primary mb-2"
                                >在线体验<i class="uil uil-angle-right-b"
                                ></i></a
                            >
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-color-white">
            <svg
                viewBox="0 0 2880 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- For you Start -->
    <section class="section pb-0" id="section-for-you">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">NocoBase 适合谁</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            你的开发团队为自身或者客户交付各种业务系统，你们正在面临这样的<span
                                class="text-primary fw-bold">严重困扰</span
                            >：
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i
                                class="uil uil-silent-squint text-primary text-warning"
                            ></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">业务需求<br />频繁变化</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i
                                class="uil uil-silent-squint text-primary text-warning"
                            ></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">交付时间<br />短暂紧迫</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i
                                class="uil uil-silent-squint text-primary text-warning"
                            ></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">开发流程<br />迟钝漫长</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-2 col-md-4 col-6">
                    <div class="d-flex features feature-primary pt-4 pb-4">
                        <div
                            class="icon text-center rounded-circle text-primary me-3 h5 mb-0"
                        >
                            <i
                                class="uil uil-silent-squint text-primary text-warning"
                            ></i>
                        </div>
                        <div class="flex-1">
                            <p class="para mb-0">人员成本<br />居高不下</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mt-5 mb-4 pb-2">
                        <p class="text-muted para-desc mx-auto mb-0">
                            你的团队已经意识到需要抛弃传统开发方式，引入无代码开发可能是很好的选择。但你们经过调研或尝试后，对无代码平台有<span
                                class="text-primary fw-bold">诸多担忧</span
                            >。
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div
                    class="col-lg-5 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0"
                >
                    <ul class="list-unstyled">
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >无代码能力有限，主要是表单或表格
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >笨重死板，遇到无法满足的需求时无可奈何
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >看不到源代码，数据在第三方服务器，隐私和安全难保证
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >系统不稳定，遇到问题又难以追踪和排查
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >与现有的系统难以无缝融合
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-sad-dizzy align-middle text-warning"
                                ></i></span
                            >按用户或按应用收费，被绑架，购买的产品并不属于自己
                        </li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mt-4 mb-4 pb-2">
                        <p class="text-muted para-desc mx-auto mb-0">
                            不必担忧！试一试 NocoBase<br />
                            NocoBase 就是为你的开发团队量身定制的<span
                                class="text-primary fw-bold">基础设施</span
                            >！
                        </p>
                    </div>
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-how" class="btn btn-primary"
                            >如何做到？ <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- For you End -->

    <!-- How Start -->
    <section class="section pb-0" id="section-how">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">NocoBase 是如何做的</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            “无代码”对于快速开发业务系统有很大的帮助，但不可能满足所有需求，NocoBase
                            的设计原则是：
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-7 p-4 bg-light rounded shadow text-center">
                    <p class="mb-0">
                        <span
                            class="text-primary fw-bold"
                            style="font-size: 20px;">80%</span
                        > 的需求通过无代码实现，<span
                            class="text-primary fw-bold"
                            style="font-size: 20px;">20%</span
                        > 由扩展开发实现。
                    </p>
                </div>
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">数据模型驱动</span
                            >，“数据结构”与“使用界面”分离
                        </h5>
                        <p class="text-muted">
                            相比于表单和表格驱动，数据模型驱动可以提供没有上限的开发能力。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >数据和 UI 解耦
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >同一张表、同一条记录可以创建任意数量、任意形态的区块和操作
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >支持主数据库、外部数据库、第三方 API 作为数据源
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img
                                src="https://static-docs.nocobase.com/model.png"
                                alt="NocoBase 数据模型"
                                loading="lazy"
                                width="800"
                                height="450"
                            />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">所见即所得</span
                            >，使用超简单
                        </h5>
                        <p class="text-muted">
                            NocoBase
                            可以开发复杂和有特色的业务系统，但它的使用却非常简单。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >一键切换使用模式和配置模式
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >页面就是一块画布，在画布上摆放各种区块和操作，组合出合适的界面，就像
                                Notion
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >界面配置模式为普通人设计，而不是为程序员设计
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7 col-md-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img
                                src="https://static-docs.nocobase.com/wysiwyg.gif"
                                alt="NocoBase WYSIWYG 编辑器"
                                loading="lazy"
                                width="800"
                                height="450"
                            />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-100">
                <div class="col-lg-5 col-md-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            一切皆<span class="text-primary">插件</span
                            >，为扩展开发而生
                        </h5>
                        <p class="text-muted">
                            面对复杂多变的业务场景，靠堆砌无代码能力来试图穷尽所有需求是徒劳的。
                            NocoBase
                            为扩展开发而生，自由扩展插件，满足各种需求。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >采用微内核架构，全部功能都是插件，就像
                                Wordpress
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >插件即插即用
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >无论是页面、区块、操作，还是
                                API、数据源，都可以开发新的插件来满足新的需求
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-7 col-md-7">
                    <div class="card rounded border-0 shadow ms-lg-5">
                        <div class="card-body feature-card-img">
                            <img
                                src="https://static-docs.nocobase.com/plugins.png"
                                alt="NocoBase 插件系统"
                                loading="lazy"
                                width="800"
                                height="450"
                            />
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row align-items-top mt-5">
                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">开源</span
                            >，使用主流技术栈
                        </h5>
                        <p class="text-muted">
                            NocoBase
                            核心代码和基础插件全部开源，提供绝对的透明度和可控性。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >使用 TypeScript 编写
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >使用 Node.js、React、Koa 等主流技术栈
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >只定义标准接口，不定义私有 DSL
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >极致简单轻量，单台低配服务器即可运行，单人即可扩展开发
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            日志和<span class="text-primary">监控</span>
                        </h5>
                        <p class="text-muted">
                            NocoBase
                            不是黑盒子，提供翔实的日志和监控警告基础设施。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >日志插件提供接口请求日志和系统运行日志
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >日志支持级别、滚动策略、大小、打印格式等丰富的配置
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >一系列遥测插件集成了 OpenTelemetry、Prometheus
                                等设施，让开发者可以监控任何指标
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            与已有系统<span class="text-primary">融合</span>
                        </h5>
                        <p class="text-muted">
                            NocoBase 提供多种方式与第三方系统融合：
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >将第三方的数据库作为数据源
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >将其他系统的 API 作为数据源
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >单点登录 (SSO)，实现无缝身份验证
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >与第三方系统互相嵌入，融为一体
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >多个 NocoBase 应用之间实现多应用、父子应用
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 mt-5">
                    <div class="section-title">
                        <h5 class="mb-4">
                            <span class="text-primary">免费</span
                            >，或者一次付费，终身使用
                        </h5>
                        <p class="text-muted">
                            NocoBase
                            开源免费使用，在开源版本基础上提供商业授权和商业插件。商业授权和商业插件都是一次性购买，终身有效。
                        </p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >不需要订阅
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >不需要考虑用户数量
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >不需要考虑应用数量
                            </li>
                            <li class="mb-1 concerns-li">
                                <span class="text-primary h5 me-2 concerns-span"
                                    ><i class="uil uil-smile-beam align-middle"
                                    ></i></span
                                >不需要考虑数据量
                            </li>
                        </ul>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-right" class="btn btn-primary"
                            >不是什么？<i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- For you End -->

    <!-- Right way Start -->
    <section class="section pb-0" id="section-right">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h3 class="title mb-4">NocoBase 的正确使用方式</h3>
                        <p class="text-muted para-desc mx-auto mb-0">
                            无代码不是万能的，NocoBase 也不是万能的。
                        </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-md-6 col-12">
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-silent-squint align-middle text-warning"
                                ></i></span
                            >NocoBase 不是低代码平台，不希望直接在界面上写代码
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-silent-squint align-middle text-warning"
                                ></i></span
                            >NocoBase 不是代码生成器，不提供代码导出
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-silent-squint align-middle text-warning"
                                ></i></span
                            >NocoBase 不是为没有技术背景的团队准备的工具
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i
                                    class="uil uil-silent-squint align-middle text-warning"
                                ></i></span
                            >NocoBase 不是 SaaS，不提供订阅和按量付费
                        </li>
                    </ul>
                </div><!--end col-->

                <div class="col-md-6 col-12">
                    <ul class="list-unstyled text-muted">
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i class="uil uil-grin align-middle"></i></span
                            >开发团队将 NocoBase
                            作为基础设施，极大提升交付速度和效率
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i class="uil uil-grin align-middle"></i></span
                            >开发团队通过扩展插件来扩充能力，非开发人员可以在此基础上进行无代码搭建
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i class="uil uil-grin align-middle"></i></span
                            >使用 NocoBase 开发从简单到复杂的业务系统和内部工具
                        </li>
                        <li class="mb-1 concerns-li">
                            <span class="text-primary h5 me-2 concerns-span"
                                ><i class="uil uil-grin align-middle"></i></span
                            >在自己的服务器上部署 NocoBase 并使用，完全掌控它
                        </li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-try" class="btn btn-primary"
                            >试一下 <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

    <!-- Try Start -->
    <section class="section pb-0" id="section-try">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <InteractiveDemo guides={demoConfig} />
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="mt-4 pt-2 text-center">
                        <a href="#section-feedback" class="btn btn-primary"
                            >用户声音 <i class="uil uil-arrow-down"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

    <!-- Feedback Start -->
    <section class="section pb-0" id="section-feedback">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h3 class="title mb-4">这很重要，听听用户们怎么说</h3>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row justify-content-center">
                <div class="col-lg-9 mt-4 pt-2">
                    <div class="tiny-single-item text-center">
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                使用 NocoBase 后我们的行政任务时间缩短了50%，协作与沟通得到加强，招聘流程更加迅速和高效。
                            </p>
                            <p class="text-muted fst-italic">
                                在 TEDxDUTH，我们相信创新和协作的力量可以改变世界。NocoBase 使我们能够简化日常运营，从而将更多精力投入到真正重要的事务上——举办精彩的活动，传播有价值的思想。
                            </p>
                            <p class="text-muted fst-italic">
                                如果你的组织正面临混乱或低效的工作流程，NocoBase 不仅仅是一个工具——它更是一个全面的解决方案，能够激发团队的潜能，实现更多可能。对我们来说，NocoBase 更像一个游戏规则的改变者，它让我们敢于梦想，彻底改变了我们的工作方式，并持续影响着我们的社区。
                            </p>
                            <p class="text-muted fst-italic">
                                感谢 NocoBase 成为我们旅程中不可或缺的伙伴。我们携手并进，共同推进创新与灵感的传播！
                            </p>
                            <img
                                src="https://static-docs.nocobase.com/20250713094749.png"
                                class="mt-4 mb-4"
                                width="160"
                                alt="TED"
                              />
                            <h6 class="text-primary">
                                Sarantis Antoniou <small class="text-muted">Lead Organizer </small>
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                我们曾对 AirTable 和 NocoDB 进行过评估，最终选择 NocoBase，是因为它更符合我们对系统自由度与部署方式的需求。NocoBase 可部署在我们的 AWS 环境中，不限制用户数量，权限控制精细，页面与数据分离的架构也让我们能灵活定制前端。同时，内建工作流和自动生成 API 的功能，大大提升了效率。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://classmethod.jp/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094650.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="classmethod"
                                /></a
                            >
                            <h6 class="text-primary">
                                クラスメソッド株式会社（Classmethod, Inc.）
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                在选择 NocoBase 之前，我们并没有一个专门的客服与运营管理系统。业务发展迅速，需要快速搭建并承接越来越多的需求，NocoBase 很好地解决了这个问题。它的数据表关联能力尤其出色，让我们可以将不同的数据结构高效整合，客服人员能快速查询用户信息并实时处理用户权益问题，极大提升了业务效率。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.plaud.ai/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094635.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="PLAUD"
                                /></a
                            >
                            <h6 class="text-primary">
                                PLAUD 产品经理 Lucas
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                我们一直在寻找一款灵活的无代码平台，以构建一个完全定制的排班系统，满足客户 Okechamp 快速增长的物流业务需求。调研阶段，NocoBase 凭借 Schema-first 架构、模块化设计和活跃的社区脱颖而出。它让我们轻松实现了自定义视图和报表管理。我们将继续在更多客户项目中采用 NocoBase。
                            </p>
                            <img
                                src="https://static-docs.nocobase.com/20250713094700.png"
                                class="mt-4 mb-4"
                                width="160"
                                alt="Lukardi"
                            />
                            <h6 class="text-primary">
                                Lukardi SA
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                我们原本依赖纸质流程进行人事管理与休假审批，不仅效率低，还容易出错。自从使用 NocoBase 构建人事、出勤、休假等业务流程后，我们实现了真正的无纸化办公，110 多名员工的管理变得高效直观。NocoBase 灵活的界面设计和强大的 API 能力，完全满足了我们房地产行业的多样化需求。相比 Salesforce 等工具，它不仅可高度定制，还支持一次性买断，性价比非常高。我们正计划将更多系统迁移到 NocoBase，包括 CRM，并将其打造为公司门户与业务核心平台。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://housewell-group.jp/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094720.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="HouseWell"
                                /></a
                            >
                            <h6 class="text-primary">
                                ハウスウェル株式会社(HouseWell)
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                在构建智能工厂系统过程中，我们选择了 NocoBase 作为核心平台。它的极简配置流程让非技术人员也能快速构建系统页面，极大提升了开发效率；同时，插件生态和工作流引擎让我们能灵活应对多样的业务场景，确保系统质量与扩展性。借助 NocoBase 的细粒度权限系统，我们实现了设备维护、人事管理等流程的高效协作与数据安全共存。系统部署后，配合 PC + 移动端 + 5G 网络架构，成功实现数据的实时反馈与高效录入，为智能工厂建设打下了坚实基础。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.bielcrystal.com"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094732.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="BIEL"
                                /></a
                            >
                            <h6 class="text-primary">
                                伯恩光学控股有限公司 BIEL
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                在众多新型数据库产品中，NocoBase 是唯一让我感受到'即要、又要、还要'可以实现的解决方案。我们需要一个非 SaaS、低代码、可扩展的系统，来支撑跨几十个团队的任务协同和规范性强的专业场景。NocoBase 的学习曲线出乎意料地平滑，几天内我就能在不依赖开发的情况下完成业务流程的搭建。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.aoya-hk.com/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094804.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="奥雅设计"
                                /></a
                            >
                            <h6 class="text-primary">
                                奥雅设计 业务负责人 张廷源
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                在对比调研了多个国内外低代码平台后，我们最终选择了 NocoBase。它支持本地化部署和功能拓展，完美契合我们在化学领域对数据安全和系统定制化的高标准需求。NocoBase 提供的专业支持团队和灵活的数据建模能力，让系统上线变得高效且可靠。
                            </p>
                            <a
                                rel="nofollow"
                                href="https://xtalpi.com/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094812.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="晶泰科技"
                                /></a
                            >
                            <h6 class="text-primary">
                                晶泰科技 项目负责人 熊智
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                I cannot emphasize enough the great experience we've had with
                                NocoBase as a no-code/low-code platform. It stands out as
                                exceptionally user-friendly, making our development process both
                                smooth and efficient. What impressed me most was how easy it was
                                to work on development of the user experience once the data
                                model was in place. This streamlined approach allowed us to
                                develop a full-fledged system, designed to be used by several
                                hundred organizations, in just a matter of weeks.
                              </p>
                              <p class="text-muted fst-italic">
                                NocoBase has effectively shattered the common misconception that
                                powerful systems require months or even years of work. I highly
                                recommend it for any organization looking to fast-track their
                                development cycle without sacrificing quality.
                              </p>
                            <a
                                rel="nofollow"
                                href="https://sambruk.se/"
                                target="_blank"
                                ><img
                                    src="https://static-docs.nocobase.com/20250713094827.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt="Sambruk"
                                /></a
                            >
                            <h6 class="text-primary">
                                Thomas Wennersten <small class="text-muted"
                                    >CTO</small>
                            </h6>
                        </div>
                        <div class="tiny-slide client-testi text-center">
                            <p class="text-muted fst-italic">
                                NocoBase 作为数据管理、API
                                服务、工作流的核心，极大的降低了开发难度，使得我们的开发者能够更专注于业务逻辑的实现，从而大大提高了开发效率。
                            </p>
                            <p class="text-muted fst-italic">
                                NocoBase
                                具备出色的集成能力，能够与各种第三方服务和系统进行无缝对接，实现数据共享和功能整合。这意味着我们无需从零开始构建所有功能，而是可以充分利用现有的服务和资源，将各种功能和服务快速集成到应用中。这种集成能力不仅减少了开发时间和成本，更使得应用的功能更加丰富和多样化，满足了用户多样化的需求。
                            </p>
                            <p class="text-muted fst-italic">
                                在这个快速发展的数字化时代，NocoBase
                                无疑是我们应对挑战、实现创新的有力武器，感谢
                                NocoBase 团队的付出！
                            </p>
                            <a
                                rel="nofollow"
                                href="https://www.chinaunicom.com/"
                                target="_blank"
                                ><img
                                    src="https://nocobase-docs.oss-cn-beijing.aliyuncs.com/liantong.png"
                                    class="mt-4 mb-4"
                                    width="160"
                                    alt=""
                                /></a
                            >
                            <h6 class="text-primary">新疆联通科创实验室</h6>
                        </div>
                    </div><!--end owl carousel-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Feedback End -->

    <!-- Get Start -->
    <section class="section" id="section-get">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3 class="title mb-4">准备好使用 NocoBase 了吗？</h3>
                    <p class="text-muted para-desc mx-auto mb-0">
                        1 分钟时间部署一个专属 demo。自己部署
                        NocoBase，同样很简单。
                    </p>
                    <div class="mt-4">
                        <a
                            href="https://demo-cn.nocobase.com/new"
                            target="_blank"
                            class="btn btn-primary mt-2 mb-4"
                            >开通 demo <i class="uil uil-arrow-right"></i></a
                        >
                        <a
                            href="https://docs-cn.nocobase.com/welcome/getting-started/installation"
                            target="_blank"
                            class="btn btn-outline-primary mt-2 mb-4"
                            >本地部署 <i class="uil uil-arrow-right"></i></a
                        >
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- Get End -->
</Layout>
