---
import Layout from "../../layouts/Layout.astro";
import InteractiveDemo from "../../components/InteractiveDemo.astro";
import demoConfig from "../../data/demo-config-en.json";
---

<Layout>
  <style>
    .demo-title-ai-avatar {
      width: 30px;
      height: 30px;
      margin-top: -12px;
    }
    </style>
    <!-- Hero Start -->
    <section class="bg-half-260 bg-light d-table w-100">
    <!-- <div class="bg-overlay"></div> -->
    <div class="container">
      <div class="row">
      <div class="col-12">
        <div class="title-heading text-center mt-4">
          <h1 class="display-4 fw-bold mb-3">极易扩展的<br />AI 无代码开发平台</h1>
          <p class="para-desc mx-auto text-muted">
            完全掌控，无限扩展，AI 协同。<br />
            让你的团队快速响应变化，大幅降低成本。<br />
            无需多年研发，无需数百万投入。<br />
            花几分钟部署 NocoBase，立即拥有一切。
          </p>
          <div class="mt-4 pt-2">
            <a href="#section-video" title="了解更多" class="btn btn-primary mb-2">了解更多<i class="uil uil-arrow-down"></i></a>
            <a href="https://demo-cn.nocobase.com/new" target="_blank" class="btn btn-outline-primary mb-2">在线体验<i class="uil uil-angle-right-b"></i></a>
          </div>
        </div>

        <div class="row justify-content-center mt-5 pt-5" id="section-video">
          <div class="col-lg-10 text-center">
            <div class="home-video">
              <img src="https://static-docs.nocobase.com/21-home-steps.png" alt="" class="img-fluid rounded-md shadow-lg">
              <div class="bg-overlay rounded-md shadow-lg" style=""></div>
              <div class="play-icon">
                <a href="?fallback_url" class="play-btn lightbox" data-type="html" data-target="#nocobase_video_lightbox" title="Watch NocoBase Video">
                  <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!--end row-->
      </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Hero End -->

  <!-- Demo Start -->
  <section class="section pb-0 mt-5" id="section-3-steps">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">亲自试一试：3 步创建一个 <span class="text-primary fw-bold typewrite" data-period="2000" data-type='[ "客户关系管理", "项目管理", "工单系统", "库存管理", "订单管理" ]'></span></h3>
                    <p class="text-muted para-desc mx-auto mb-0">先定义“数据”来源，再使用“区块”将数据展示出来，最后用“操作”来处理数据。</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                           与 <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Orin">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseGreen-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseGreen-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23C0E4A3%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%23517933%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%23517933%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M115.546%20148.572c-6.668-16.162-33.393-49.078-10.356-69.56%207.743-38.04%2050.525-33.829%2079.078-25.05%2019.191%205.9%2033.684%2017.556%2036.781%208.778%2019.358%2016.272%209.664%2032.187-3.097%2036.754-11.582%204.146-31.167%208.291-64.469%204.39-5.949-.698-4.703%2017.662-7.882%2019.646-4.768%202.978-8.47-15.745-21.544-10.123s-5.316%2031.69%208.719%2031.69c4.839%200%207.259%2013.408-5.808%2019.748-9.486%204.697-7.088-5.771-11.422-16.273%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M187.97%20210.998c-.005.008.324.182.852%201.094.553.955%201.056%202.262%201.483%203.681.421%201.394.732%202.778.939%203.822.103.52.179.949.228%201.244l.055.335.012.082.003.018v.002l2.729-.397%202.729-.397-.002-.014-.005-.032-.017-.112q-.022-.144-.065-.401a47%2047%200%200%200-.258-1.404%2047%2047%200%200%200-1.068-4.343c-.479-1.596-1.129-3.366-1.992-4.856-.791-1.367-2.123-3.138-4.238-3.673-1.311-.331-3.763-.524-6.436-.604a102%20102%200%200%200-9.299.155c-3.17.205-6.373.589-8.848%201.258-1.218.329-2.457.777-3.452%201.434-.964.637-2.231%201.846-2.239%203.754v.013q0-.011-.002.011c-.002.043-.008.17-.027.4a28%2028%200%200%201-.115%201.086%2031%2031%200%200%201-.468%202.791%2031%2031%200%200%201-.43-2.763%2031%2031%200%200%201-.103-1.091c-.022-.286-.027-.43-.028-.448v-.001c-.01-1.901-1.266-3.109-2.231-3.748-.994-.657-2.23-1.104-3.443-1.431-2.467-.665-5.658-1.045-8.819-1.246a104%20104%200%200%200-9.287-.153c-2.691.079-5.129.266-6.442.571-2.165.501-3.529%202.268-4.339%203.658-.875%201.501-1.52%203.286-1.99%204.89a45%2045%200%200%200-1.032%204.371%2046%2046%200%200%200-.303%201.819l-.008.055-.007.058-.005.032-.001.011v.003l-.001.001%202.734.361%202.734.36v-.002l.003-.017.011-.083.05-.336c.047-.296.117-.725.214-1.246.196-1.048.493-2.434.902-3.828.416-1.421.911-2.719%201.461-3.662.526-.901.855-1.061.851-1.068.736-.163%202.647-.345%205.328-.423a98%2098%200%200%201%208.777.143c3.041.194%205.8.545%207.735%201.068.782.21%201.308.418%201.627.584a37%2037%200%200%200%20.695%204.936c.264%201.222.655%202.621%201.253%203.776.489.945%201.714%202.869%204.063%202.869%202.333%200%203.569-1.903%204.068-2.842.611-1.151%201.019-2.546%201.299-3.77.433-1.888.668-3.862.754-4.966.322-.169.855-.381%201.649-.595%201.947-.526%204.72-.882%207.767-1.079a97%2097%200%200%201%208.779-.146c2.674.08%204.535.269%205.216.431m-28.517%207.847a.2.2%200%200%200-.048-.06c.031.046.047.063.048.06m-1.959-.077a.2.2%200%200%200-.048.059c0%20.003.016-.013.048-.059m.023%2078.209a1.1%201.1%200%200%201%20.235-1.185%201.083%201.083%200%200%201%201.831.98%201.09%201.09%200%200%201-1.063.875%201.06%201.06%200%200%201-.603-.183%201.1%201.1%200%200%201-.4-.487m0-22.2a1.09%201.09%200%200%201%201.003-1.503%201.09%201.09%200%200%201%20.901.483q.06.089.1.188a1.07%201.07%200%200%201%20.062.628%201.087%201.087%200%200%201-1.478.793%201.08%201.08%200%200%201-.588-.589m0-22.199a1.09%201.09%200%200%201%20.235-1.185%201.1%201.1%200%200%201%20.768-.317%201.1%201.1%200%200%201%20.602.183%201.06%201.06%200%200%201%20.399.487%201.07%201.07%200%200%201%20.062.628%201.084%201.084%200%200%201-2.066.204m1.003-.416c4.43%2043.52%204.171%2042.662%203.683%2041.932.28%204.773.747%203.644.747%202.467-3.256%204.439-2.128%203.971-1.298%203.139-4.866%201.04-4.009%201.3-3.132%201.3-3.758-1.93-3.19-1.236-2.462-.748-2.055-3.697-1.967-2.804-1.632-1.993.341-4.217-.081-3.426-.252-2.565%202.621-3.317%201.832-2.894%201.213-2.273%204.019-1.298%203.128-1.387%202.268-1.215%204.061%201.157%203.37.588%202.56.252m1.988-20.563a4.446%204.446%200%200%201-.551%205.606%204.426%204.426%200%200%201-7.226-1.44%204.44%204.44%200%200%201%203.229-6.054%204.42%204.42%200%200%201%204.548%201.888m0-22.2a4.44%204.44%200%200%201-.551%205.606%204.423%204.423%200%200%201-7.226-1.44%204.45%204.45%200%200%201%20.961-4.838%204.42%204.42%200%200%201%204.828-.963c.81.336%201.501.906%201.988%201.635%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M211.956%20138.347c8.359.739%2015.726-5.539%2016.453-14.021.728-8.483-5.457-15.958-13.816-16.697s-15.726%205.538-16.454%2014.021c-.728%208.482%205.458%2015.958%2013.817%2016.697m-.22%202.56c9.752.862%2018.347-6.462%2019.196-16.358s-6.367-18.618-16.119-19.48-18.347%206.462-19.196%2016.358%206.367%2018.618%2016.119%2019.48m-42.524-.536c8.359.739%2015.726-5.538%2016.454-14.021.728-8.482-5.458-15.958-13.817-16.697s-15.725%205.539-16.453%2014.021c-.729%208.483%205.457%2015.958%2013.816%2016.697m-.22%202.56c9.753.862%2018.347-6.462%2019.196-16.358s-6.367-18.618-16.119-19.48-18.346%206.462-19.196%2016.358c-.849%209.896%206.367%2018.618%2016.119%2019.48%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M188.011%20120.709a6.27%206.27%200%200%201%204.62-1.481%206.3%206.3%200%200%201%204.298%202.269%206.48%206.48%200%200%201%201.458%204.688l-2.522-.223a3.9%203.9%200%200%200-.875-2.813%203.8%203.8%200%200%200-2.579-1.361%203.76%203.76%200%200%200-2.772.889%203.87%203.87%200%200%200-1.341%202.617l-2.523-.223a6.46%206.46%200%200%201%202.236-4.362M135%20125.438l19.221-1.847.239%202.558-19.221%201.848z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 一起，配置“数据源”
                        </h6>
                        <p class="text-muted para">定义你的主数据库模型，或者连接外部数据库或 API 作为数据源。</p>
                        <a href="?fallback_url" data-type="html" data-target="#step1_lightbox" data-group="step1" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 01.</li>
                            <li class="step-icon"><i class="uil uil-angle-double-right h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            与 <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Cole">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseBlue-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseBlue-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23BDC1FF%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%232520F9%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%232520F9%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M159.838%2011.324c11.056-1.832%2019.408%204.698%2019.408%204.698.042-.026%207.393-4.486%2015.835%201.102%208.466%205.605%206.809%2011.957%206.809%2011.957.042-.005%2015.003-1.862%2024.937%2012.161%209.949%2014.043%202.018%2027.016%202.018%2027.016s10.633-4.246%2014.597%204.302c3.961%208.539-2.721%2015.27-2.736%2015.286.053.032%207.586%204.593%207.285%2016.591-.301%2012.014-7.253%2014.954-7.285%2014.968.039.061%205.428%208.415-1.471%2017.178-6.925%208.795-16.859%204.586-16.859%204.586.011.036%203.467%2011.169-3.476%2016.324l-.048.034c2.891-14.975%202.774-33.96.968-52.542-2.838-29.195-35.931%206.633-64.435-24.085%201.584%2030.718-14.779%2034.425-20.586%2030.718-26.392-12.181-26.92%2037.602-.835%2033.745-.007.388.066%2011.847.143%2024.565-6.038.496-10.379-1.532-10.379-7.791%200%200-7.256%203.838-13.908%200s-8.207-10.085-8.207-10.085c-.028.02-9.239%206.724-17.19-2.127-7.938-8.836-2.253-14.164-2.218-14.197-.04-.008-9.875-2.013-9.875-12.668%200-10.676%206.64-14.538%206.64-14.538-.041-.022-8.75-4.62-6.64-17.212%202.11-12.59%209.834-15.42%209.875-15.435%200%200-3.245-14.153%205.545-23.947%208.764-9.766%2020.266-9.788%2020.332-9.788%200%200-.968-14.557%2012.622-18.91s21.882%202.586%2021.882%202.586%206.196-12.66%2017.252-14.492%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M150.665%20235.792%20144.703%20378h28.621l-5.963-142.208s-5.565-5.998-8.347-5.998c-2.783%200-8.349%205.998-8.349%205.998m16.465%20136.235-5.604-133.648a34%2034%200%200%200-1.16-1.05%2021%2021%200%200%200-1.352-1.083c-.408.296-.867.662-1.354%201.083-.411.354-.805.714-1.16%201.05l-5.604%20133.648z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M159.002%20227.181%20197.164%20213%20214%20224.559l-43.073%2026.83-11.925-21.605-11.926%2021.605L106%20224.559%20120.839%20213zm-37.132-7.43%2029.771%2011.062-6.668%2012.08-28.725-18.762zm51.226%2023.261-6.734-12.199%2029.985-11.142%206.765%204.645z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M130.461%20130.382c0%202.972-2.118%205.382-4.73%205.382s-4.731-2.41-4.731-5.382%202.118-5.382%204.731-5.382%204.73%202.41%204.73%205.382%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M136.174%20180.158c-7.353-20.418-10.569-39.978-11.03-48.261l4.721-.34c.426%207.639%203.508%2026.626%2010.687%2046.561%207.191%2019.967%2018.324%2040.409%2034.592%2051.54l.084.057.079.065s.072.096.445.022c.433-.087%201.117-.385%202.073-1.098%201.91-1.424%204.366-4.088%207.28-8.053%205.795-7.884%2012.978-20.328%2020.75-36.403l4.145%202.594c-7.841%2016.217-15.193%2029-21.266%2037.261-3.019%204.108-5.828%207.246-8.316%209.102-2.281%201.701-5.26%202.995-7.784%201.015-17.516-12.022-29.129-33.706-36.46-54.062%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M175.403%20310v-78.036h4.731V310z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M157.332%20123.625a1.25%201.25%200%200%201-1.004%201.465l-21.824%204.145a1.266%201.266%200%200%201-1.481-.993%201.25%201.25%200%200%201%201.003-1.464l21.825-4.145c.686-.13%201.35.314%201.481.992%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m181.373%20106.705-24.492%203.405c-1.49.207-2.469%201.645-2.102%203.088l6.206%2024.407a2.53%202.53%200%200%200%202.806%201.867l21.808-3.03c1.384-.192%202.348-1.458%202.154-2.826l-3.522-24.78c-.194-1.37-1.474-2.323-2.858-2.131m-24.845.926c-2.979.415-4.937%203.292-4.203%206.177l6.207%2024.407c.63%202.481%203.05%204.091%205.612%203.736l21.807-3.031c2.768-.385%204.697-2.916%204.307-5.653l-3.522-24.78c-.388-2.737-2.947-4.644-5.716-4.26zm45.73-3.7%2024.492-3.404c1.49-.206%202.832.91%202.881%202.396l.838%2025.154a2.51%202.51%200%200%201-2.178%202.56l-21.807%203.031c-1.384.192-2.663-.761-2.858-2.13l-3.522-24.781c-.194-1.368.77-2.633%202.154-2.826m24.14-5.881c2.979-.415%205.664%201.817%205.763%204.791l.836%2025.153c.085%202.556-1.792%204.765-4.354%205.121l-21.807%203.031c-2.768.385-5.326-1.523-5.716-4.26l-3.521-24.78c-.389-2.737%201.539-5.268%204.307-5.652z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m201.207%20119.546-13.917%202.189-.398-2.471%2013.918-2.19z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 一起，使用“区块”展示数据
                        </h6>
                        <p class="text-muted para">在页面上通过表格、表单、图表、日历等区块直观地组织和展示数据。</p>
                        <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 02.</li>
                            <li class="step-icon"><i class="uil uil-angle-double-right h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            与 <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Cole">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseBlue-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseBlue-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23BDC1FF%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%232520F9%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%232520F9%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M159.838%2011.324c11.056-1.832%2019.408%204.698%2019.408%204.698.042-.026%207.393-4.486%2015.835%201.102%208.466%205.605%206.809%2011.957%206.809%2011.957.042-.005%2015.003-1.862%2024.937%2012.161%209.949%2014.043%202.018%2027.016%202.018%2027.016s10.633-4.246%2014.597%204.302c3.961%208.539-2.721%2015.27-2.736%2015.286.053.032%207.586%204.593%207.285%2016.591-.301%2012.014-7.253%2014.954-7.285%2014.968.039.061%205.428%208.415-1.471%2017.178-6.925%208.795-16.859%204.586-16.859%204.586.011.036%203.467%2011.169-3.476%2016.324l-.048.034c2.891-14.975%202.774-33.96.968-52.542-2.838-29.195-35.931%206.633-64.435-24.085%201.584%2030.718-14.779%2034.425-20.586%2030.718-26.392-12.181-26.92%2037.602-.835%2033.745-.007.388.066%2011.847.143%2024.565-6.038.496-10.379-1.532-10.379-7.791%200%200-7.256%203.838-13.908%200s-8.207-10.085-8.207-10.085c-.028.02-9.239%206.724-17.19-2.127-7.938-8.836-2.253-14.164-2.218-14.197-.04-.008-9.875-2.013-9.875-12.668%200-10.676%206.64-14.538%206.64-14.538-.041-.022-8.75-4.62-6.64-17.212%202.11-12.59%209.834-15.42%209.875-15.435%200%200-3.245-14.153%205.545-23.947%208.764-9.766%2020.266-9.788%2020.332-9.788%200%200-.968-14.557%2012.622-18.91s21.882%202.586%2021.882%202.586%206.196-12.66%2017.252-14.492%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M150.665%20235.792%20144.703%20378h28.621l-5.963-142.208s-5.565-5.998-8.347-5.998c-2.783%200-8.349%205.998-8.349%205.998m16.465%20136.235-5.604-133.648a34%2034%200%200%200-1.16-1.05%2021%2021%200%200%200-1.352-1.083c-.408.296-.867.662-1.354%201.083-.411.354-.805.714-1.16%201.05l-5.604%20133.648z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M159.002%20227.181%20197.164%20213%20214%20224.559l-43.073%2026.83-11.925-21.605-11.926%2021.605L106%20224.559%20120.839%20213zm-37.132-7.43%2029.771%2011.062-6.668%2012.08-28.725-18.762zm51.226%2023.261-6.734-12.199%2029.985-11.142%206.765%204.645z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M130.461%20130.382c0%202.972-2.118%205.382-4.73%205.382s-4.731-2.41-4.731-5.382%202.118-5.382%204.731-5.382%204.73%202.41%204.73%205.382%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M136.174%20180.158c-7.353-20.418-10.569-39.978-11.03-48.261l4.721-.34c.426%207.639%203.508%2026.626%2010.687%2046.561%207.191%2019.967%2018.324%2040.409%2034.592%2051.54l.084.057.079.065s.072.096.445.022c.433-.087%201.117-.385%202.073-1.098%201.91-1.424%204.366-4.088%207.28-8.053%205.795-7.884%2012.978-20.328%2020.75-36.403l4.145%202.594c-7.841%2016.217-15.193%2029-21.266%2037.261-3.019%204.108-5.828%207.246-8.316%209.102-2.281%201.701-5.26%202.995-7.784%201.015-17.516-12.022-29.129-33.706-36.46-54.062%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M175.403%20310v-78.036h4.731V310z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M157.332%20123.625a1.25%201.25%200%200%201-1.004%201.465l-21.824%204.145a1.266%201.266%200%200%201-1.481-.993%201.25%201.25%200%200%201%201.003-1.464l21.825-4.145c.686-.13%201.35.314%201.481.992%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m181.373%20106.705-24.492%203.405c-1.49.207-2.469%201.645-2.102%203.088l6.206%2024.407a2.53%202.53%200%200%200%202.806%201.867l21.808-3.03c1.384-.192%202.348-1.458%202.154-2.826l-3.522-24.78c-.194-1.37-1.474-2.323-2.858-2.131m-24.845.926c-2.979.415-4.937%203.292-4.203%206.177l6.207%2024.407c.63%202.481%203.05%204.091%205.612%203.736l21.807-3.031c2.768-.385%204.697-2.916%204.307-5.653l-3.522-24.78c-.388-2.737-2.947-4.644-5.716-4.26zm45.73-3.7%2024.492-3.404c1.49-.206%202.832.91%202.881%202.396l.838%2025.154a2.51%202.51%200%200%201-2.178%202.56l-21.807%203.031c-1.384.192-2.663-.761-2.858-2.13l-3.522-24.781c-.194-1.368.77-2.633%202.154-2.826m24.14-5.881c2.979-.415%205.664%201.817%205.763%204.791l.836%2025.153c.085%202.556-1.792%204.765-4.354%205.121l-21.807%203.031c-2.768.385-5.326-1.523-5.716-4.26l-3.521-24.78c-.389-2.737%201.539-5.268%204.307-5.652z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m201.207%20119.546-13.917%202.189-.398-2.471%2013.918-2.19z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 一起，使用“操作”处理数据
                        </h6>
                        <p class="text-muted para">通过操作对数据进行新增、编辑、查询、导入、导出、触发工作流等操作。</p>
                        <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 03.</li>
                            <li class="step-icon"><i class="uil uil-file-check-alt h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- Advanced Feature Start -->
  <section class="section pb-0" id="section-advanced-feature">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">下一步：探索更多核心能力 </h3>
                    <p class="text-muted para-desc mx-auto mb-0">解锁 AI 员工、工作流和权限等强大功能，构建更智能的业务系统。</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Orin">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseGreen-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160a160%20160%200%201%200-320%200%20160%20160%200%200%200%20320%200%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseGreen-a)%22%3E%3Cpath%20d%3D%22M320%20160a160%20160%200%201%200-320%200%20160%20160%200%200%200%20320%200%22%20fill%3D%22%23C0E4A3%22%2F%3E%3Cpath%20d%3D%22m133.7%20203-.3-57.7c-26.3%203.9-25.8-46.2.9-34%205.8%203.8%2022.4%200%2020.8-31%2028.8%2031%2062.2-5%2065%2024.4%204%2040%200%2082.1-25%2082.1q-4%200-8-.8v17c0%2010.7%2019.2%2016%2019.2%2016s-33.2%2031.3-47%2031.1-44.8-31-44.8-31%2019.2-5.4%2019.2-16%22%20fill%3D%22%23517933%22%2F%3E%3Cpath%20d%3D%22M187%20186a105%20105%200%200%201-36.9-16.1s9.2%2022.5%2037%2026.8z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.5%20251c7.8%2017.3%2011.8%2069.4%2011.8%2069.4H50.5s4-52.1%2011.8-69.3c6.7-15%2051.4-32.4%2064.5-37.4a43%2043%200%200%200%2033.6%2013.9c15.2%200%2026-5.4%2033.6-13.9%2013%205%2057.7%2022.3%2064.5%2037.4%22%20fill%3D%22%23517933%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M89.6%20124.5C95.9%2050.2%20165.2%2040.1%20206%2077c33.9-7.4%2023.5%2025.6%2014.8%2043v-1.1q-.4-10.3-1.8-19.8c-31.6-5.6-54.3%2018.9-69.8%2013.5s2.6%2014.7-3.5%2016.8q-1.6.4-3.3-.3-2-1.6-4-3.6c-2.4-3-4-6.8-4-6.8-23-8.7-22.1%2029.9.2%2026%200%202.3.5%209.9%201%2018.2-3.3-3.8-10.5-7.4-12.3-8.9-22-10.4-24.7-24.2-23.2-29.9-9.3%204-11%202-10.5.4%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M212%20138.3c8.3.8%2015.7-5.5%2016.4-14s-5.4-16-13.8-16.7a15.3%2015.3%200%200%200-16.5%2014c-.7%208.5%205.5%2016%2013.9%2016.7m-.3%202.6c9.8.9%2018.4-6.5%2019.2-16.4a18%2018%200%200%200-16-19.4%2018%2018%200%200%200-19.3%2016.3%2018%2018%200%200%200%2016.1%2019.5m-42.5-.5a15.4%2015.4%200%200%200%202.6-30.7%2015.3%2015.3%200%200%200-16.4%2014c-.7%208.5%205.5%2016%2013.8%2016.7m-.2%202.5c9.7.9%2018.3-6.4%2019.2-16.3A18%2018%200%200%200%20172%20107a18%2018%200%200%200-19.2%2016.4%2018%2018%200%200%200%2016%2019.4%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M188%20120.7a6.3%206.3%200%200%201%209%20.8q1.5%202%201.4%204.7l-2.5-.2q0-1.5-1-2.9a4%204%200%200%200-5.3-.4q-1.1%201-1.3%202.6l-2.5-.2q.3-2.7%202.2-4.4m-53%204.7%2019.2-1.8.3%202.5-19.3%201.9z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.5%20167.3q.4%201.1-.6%201.8c-13%206.4-22%20.8-25-3q-.6-1.2.3-1.9%201-.5%201.9.3c2.2%203%209.8%208.1%2021.6%202.3q1-.4%201.8.5%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 
                            <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Viz">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseRed-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseRed-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23FFC9C9%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%23FE3B03%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%23FE3B03%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M167.23%2036C207.239%2036%20233%2069.14%20233%20114.039c0%2024.347-5.803%2044.065-17.776%2057.438%206.254-14.797%207.242-38.144%205.012-63.44-2.411-22.388-39.824%2014.459-67.23-6.271%204.06%2013.993-8.39%2019.228-12.957%2017.155-25.52-13.715-30.473%2026.191-5.076%2026.579v64.45c-24.433%2012.167-61.834%2026.075-69.023%2040.089C62.732%20256.314%2058.382%20283%2058.382%20283s.526-3.279%200%203c-20.254-12.919-11.882-8-37.367-26.334.532-19.821%2011.688-37.208%2028.703-48.306a52%2052%200%200%201-2.061-14.535c0-15.616%207.425-29.922%2018.746-39.557a65%2065%200%200%201%204.091-4.842c-4.46-7.669-7.097-16.247-7.097-24.994%200-23.279%2017.465-41.19%2039.1-46.666C114.419%2054.214%20138.929%2036%20167.23%2036%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M201.522%20185.94c.147%201.644%200%202.807%200%204.484%200%207.22-3.549%2016.487-6.789%2023.144-3.278-1.377-4.857-4.178-7.757-6.086V185.94c2.565.414%205.163.572%207.757.471%202.327%200%204.738.166%206.789-.471%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M153.897%20234.894h16.752V320h-16.752zm31.221%2036.475a4.565%204.565%200%200%201%204.569-4.56h32.744a4.565%204.565%200%200%201%204.569%204.56%204.564%204.564%200%200%201-4.569%204.559h-32.744a4.564%204.564%200%200%201-4.569-4.559%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M133.584%20232.088c-7.816-2.942-14.458-7.475-17.584-13.879l4.545-2.209c2.313%204.737%207.552%208.631%2014.823%2011.367%207.209%202.714%2016.051%204.143%2024.952%204.213%208.903.069%2017.709-1.224%2024.851-3.83%207.203-2.63%2012.326-6.445%2014.524-11.146l4.581%202.133c-3.012%206.443-9.599%2010.915-17.369%2013.751-7.832%202.858-17.263%204.209-26.626%204.136-9.365-.073-18.818-1.571-26.697-4.536%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M127.593%20142.278a.76.76%200%200%201%201.519%200v9.112a.76.76%200%200%201-1.519%200zm0%2012.909a.76.76%200%201%201%201.519%200v5.315a.76.76%200%200%201-1.519%200z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M132.516%20173.8a2.75%202.75%200%200%200%201.01-3.763l-.407-.704h.828a2.756%202.756%200%201%200%200-5.51h-.83l.409-.707a2.75%202.75%200%200%200-1.01-3.763%202.76%202.76%200%200%200-3.768%201.009l-.408.705-.408-.705a2.76%202.76%200%200%200-3.769-1.009%202.753%202.753%200%200%200-1.009%203.763l.409.707h-.804a2.757%202.757%200%200%200-2.759%202.755%202.757%202.757%200%200%200%202.759%202.755h.802l-.407.704a2.753%202.753%200%200%200%201.009%203.763%202.76%202.76%200%200%200%203.769-1.008l.408-.705.408.705a2.76%202.76%200%200%200%203.768%201.008m-4.163-29.244a2.278%202.278%200%201%201%200-4.556%202.278%202.278%200%200%201%200%204.556%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M157.332%20123.625a1.25%201.25%200%200%201-1.004%201.465l-21.824%204.145a1.266%201.266%200%200%201-1.481-.993%201.25%201.25%200%200%201%201.003-1.464l21.825-4.145c.686-.13%201.35.314%201.481.992%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m181.373%20106.705-24.492%203.405c-1.49.207-2.469%201.645-2.102%203.088l6.206%2024.407a2.53%202.53%200%200%200%202.806%201.867l21.808-3.03c1.384-.192%202.348-1.458%202.154-2.826l-3.522-24.78c-.194-1.37-1.474-2.323-2.858-2.131m-24.845.926c-2.979.415-4.937%203.292-4.203%206.177l6.207%2024.407c.63%202.481%203.05%204.091%205.612%203.736l21.807-3.031c2.768-.385%204.697-2.916%204.307-5.653l-3.522-24.78c-.388-2.737-2.947-4.644-5.716-4.26zm45.73-3.7%2024.492-3.404c1.49-.206%202.832.91%202.881%202.396l.838%2025.154a2.51%202.51%200%200%201-2.178%202.56l-21.807%203.031c-1.384.192-2.663-.761-2.858-2.13l-3.522-24.781c-.194-1.368.77-2.633%202.154-2.826m24.14-5.881c2.979-.415%205.664%201.817%205.763%204.791l.836%2025.153c.085%202.556-1.792%204.765-4.354%205.121l-21.807%203.031c-2.768.385-5.326-1.523-5.716-4.26l-3.521-24.78c-.389-2.737%201.539-5.268%204.307-5.652z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m201.207%20119.546-13.917%202.189-.398-2.471%2013.918-2.19z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 
                            <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Alex">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseBrown-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseBrown-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23E1D3D0%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%237E6561%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%237E6561%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M171.923%2043.312c-33.702-3.413-63.751%2021.53-67.117%2055.712L89%20231c19.087-7.261%2044.199-20.938%2044.199-20.938.005-.037%201.366-10.509%204.976-11.356.63-.147%201.768-.274%203.218-.362q-.266-51.729-.257-52.441c-24.435%203.652-23.94-43.485.781-31.952%205.439%203.51%2017.8%206.519%2016.317-22.565%2037.577%2026.577%2058.369-11.659%2061.027%2015.984%203.631%2037.744-2.319%2078.352-25.449%2079.355-2.205.1-14.713-2.384-14.734-2.384v13.282c0%20.341%202.403.927%203.014%201.083%202.009%201.301%204.015%2010.476%204.018%2010.497s0%204.427%2036.835%2018.391l11.747-115.416c3.365-34.182-21.229-64.659-54.931-68.072z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m188.093%20217.265%204.841%208.173c-3.095%204.756-5.522%206.813-6.947%207.694l-6.015-10.199c2.33-1.002%205.455-2.754%208.121-5.668m3.239-5.69c-1.402-2.367-4.613-2.138-5.932-.097-2.906%204.498-7.739%206.367-9.635%206.937-2.069.623-3.232%203.099-2.02%205.153l8.378%2014.207c.596%201.01%201.88%201.908%203.483%201.611%202.26-.419%206.997-2.553%2012.874-12.076a3.49%203.49%200%200%200%20.036-3.607z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22m166.761%20237.16-6.48-15.537-5.04%2010.84z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M160.308%20220.178c.57.011%201.08.359%201.301.887l6.48%2015.536a1.443%201.443%200%200%201-1.872%201.899l-11.52-4.697a1.45%201.45%200%200%201-.764-1.952l5.041-10.839a1.44%201.44%200%200%201%201.334-.834m-3.122%2011.517%206.907%202.816-3.885-9.313z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22m169.711%20234.756%205.584-13.386%204.343%209.339z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M175.271%20220.124a1.24%201.24%200%200%200-1.12.765l-5.584%2013.385c-.194.464-.09%201%20.263%201.357.353.358.886.468%201.35.278l9.926-4.046a1.245%201.245%200%200%200%20.658-1.682l-4.343-9.339a1.24%201.24%200%200%200-1.15-.718m2.69%209.923-5.951%202.426%203.347-8.024zm-43.242-14.967-5.655%209.706c3.19%204.509%207.648%207.595%2011.826%209.661a44%2044%200%200%200%208.174%203.061l6.836-13.009c-5.261.057-13.231-1.538-21.181-9.419m-3.484-5.316c1.282-2.199%204.225-2.293%205.763-.556%209.237%2010.429%2018.375%209.926%2021.699%209.329%201.557-.279%202.853.486%203.557%201.381.711.904%201.192%202.443.394%203.963l-9.33%2017.757c-.696%201.325-2.213%202.167-3.84%201.826-1.557-.325-6.038-1.399-11.1-3.903-5.048-2.495-10.86-6.505-14.828-12.792a3.58%203.58%200%200%201-.064-3.707z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M161.15%20309.419c0-.906.268-1.792.769-2.544a4.557%204.557%200%200%201%207.022-.694%204.59%204.59%200%200%201-.691%207.047%204.554%204.554%200%200%201-5.763-.57%204.6%204.6%200%200%201-1.337-3.239m0-22.902c0-.906.268-1.792.769-2.545a4.57%204.57%200%200%201%202.049-1.687%204.55%204.55%200%200%201%204.973.993%204.593%204.593%200%200%201-.691%207.047%204.554%204.554%200%200%201-5.763-.569%204.6%204.6%200%200%201-1.337-3.239m0-22.903c0-.906.268-1.791.769-2.544a4.557%204.557%200%200%201%207.022-.695%204.59%204.59%200%200%201-.691%207.048%204.554%204.554%200%200%201-5.763-.57%204.6%204.6%200%200%201-1.337-3.239%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M211.956%20138.347c8.359.739%2015.726-5.539%2016.453-14.021.728-8.483-5.457-15.958-13.816-16.697s-15.726%205.538-16.454%2014.021c-.728%208.482%205.458%2015.958%2013.817%2016.697m-.22%202.56c9.752.862%2018.347-6.462%2019.196-16.358s-6.367-18.618-16.119-19.48-18.347%206.462-19.196%2016.358%206.367%2018.618%2016.119%2019.48m-42.524-.536c8.359.739%2015.726-5.538%2016.454-14.021.728-8.482-5.458-15.958-13.817-16.697s-15.725%205.539-16.453%2014.021c-.729%208.483%205.457%2015.958%2013.816%2016.697m-.22%202.56c9.753.862%2018.347-6.462%2019.196-16.358s-6.367-18.618-16.119-19.48-18.346%206.462-19.196%2016.358c-.849%209.896%206.367%2018.618%2016.119%2019.48%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M188.011%20120.709a6.27%206.27%200%200%201%204.62-1.481%206.3%206.3%200%200%201%204.298%202.269%206.48%206.48%200%200%201%201.458%204.688l-2.522-.223a3.9%203.9%200%200%200-.875-2.813%203.8%203.8%200%200%200-2.579-1.361%203.76%203.76%200%200%200-2.772.889%203.87%203.87%200%200%200-1.341%202.617l-2.523-.223a6.46%206.46%200%200%201%202.236-4.362M135%20125.438l19.221-1.847.239%202.558-19.221%201.848z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 
                            <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Orin">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseYellow-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseYellow-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23FEEAC3%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%23FFB804%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%23FFB804%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M98.982%2074.59c15.476-31.39%2056.847-25.918%2070.455-23.94%2036.515%202.478%2050.849%2034.082%2053.563%2048.072-.994.63-2.193%201.274-3.563%201.926-5.524-21.983-37.021%209.029-64.341-20.27%201.597%2030.833-14.909%2034.554-20.765%2030.833-26.621-12.227-27.154%2037.742-.843%2033.871-.015.801.31%2047.994.31%2057.562-.001%2010.632-19.168%2015.947-19.168%2015.947s2.017%202.005%205.249%204.994L83%20227c27.875-33.534-3.364-113.174%2015.982-152.41%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m130.473%2078.18-13.202-18.26c-1.153-1.595-3.582-1.423-4.497.318l-11.832%2022.5c-.915%201.742.323%203.835%202.291%203.877l22.552.48%2013.203%2018.261c1.152%201.594%203.581%201.422%204.496-.319l11.832-22.5c.915-1.74-.323-3.835-2.291-3.877z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M184.254%20205.101v10.024l-27.556%2026.494%2014.196%2029.516L208%20227.373zm16.827%2022.668-29.016%2034.22-9.267-19.268%2026.474-25.454v-.574z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M135.958%20205v10.711l27.715%2026.592-14.27%2030.321L116%20228.347zm-13.521%2023.544%2025.966%2034.418%209.192-19.531-26.307-25.241z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M165.237%20312.962a4.04%204.04%200%200%200-2.489-3.73%204.028%204.028%200%200%200-5.496%202.943%204.04%204.04%200%200%200%201.714%204.145%204.031%204.031%200%200%200%206.271-3.358m0-20.188a4.038%204.038%200%200%200-4.818-3.959%204.04%204.04%200%200%200-1.453%207.317%204.031%204.031%200%200%200%206.271-3.358m0-20.187a4.04%204.04%200%200%200-2.489-3.731%204.03%204.03%200%200%200-4.392.875%204.043%204.043%200%200%200%20.61%206.212%204.024%204.024%200%200%200%205.09-.502%204.04%204.04%200%200%200%201.181-2.854%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 
                            众多 AI 员工协助你工作
                          </h6>
                          <p class="text-muted para">使用内置或自定义的 AI 员工，执行分析、翻译、录入等多种任务。</p>
                          <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                          <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 01.</li>
                            <li class="step-icon"><i class="uil uil-smile-squint-wink h1 mb-0"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                      <div class="card work-process border-0 rounded shadow">
                        <div class="card-body">
                          <h6 class="title">
                            使用工作流，编排复杂逻辑
                          </h6>
                          <p class="text-muted para">自动化业务流程，轻松编排复杂逻辑，实现高效协同与智能运转。</p>
                          <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                          <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 02.</li>
                            <li class="step-icon"><i class="uil uil-arrow-random h1 mb-0"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            精细管控菜单、数据范围、操作的权限
                        </h6>
                        <p class="text-muted para">通过精细化权限，全面管控菜单、数据、操作和 AI 员工。</p>
                        <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 03.</li>
                            <li class="step-icon"><i class="uil uil-check h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- Extend Start -->
  <section class="section" id="section-extend">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
              <h3 class="title mb-4">进阶：多种方式扩展 NocoBase</h3>
              <p class="text-muted para-desc mx-auto mb-0">超越基础能力，通过插件、脚本和多种集成方式灵活扩展 NocoBase。</p>
          </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
          <div class="card work-process border-0 rounded shadow">
              <div class="card-body">
            <h6 class="title">
                开发通用插件
            </h6>
            <p class="text-muted para">开发可复用的插件，扩展核心功能，更易于维护和推广。</p>
            <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
            <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                <li class="step h1 mb-0 fw-bold">Way 01.</li>
                <li class="step-icon"><i class="uil uil-battery-bolt h1 mb-0"></i></li>
            </ul>
              </div>
          </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            与 <a href="javascript:void" class="avatar-tips" data-bs-toggle="tooltip" data-bs-placement="top" title="Cole">
                              <img class="demo-title-ai-avatar" src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20320%22%20fill%3D%22none%22%20shape-rendering%3D%22auto%22%3E%3Cmetadata%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axsi%3D%22http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema-instance%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Adcterms%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%22%3E%3Crdf%3ARDF%3E%3Crdf%3ADescription%3E%3Cdc%3Atitle%3ENocoBase%20AI%20employee%20avatars%3C%2Fdc%3Atitle%3E%3Cdc%3Arights%3ERemix%20of%20%E2%80%9ENocoBase%20AI%20employee%20avatars%E2%80%9D%20by%20%E2%80%9EUnknown%E2%80%9D%3C%2Fdc%3Arights%3E%3C%2Frdf%3ADescription%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cmask%20id%3D%22viewboxMask%22%3E%3Crect%20width%3D%22320%22%20height%3D%22320%22%20rx%3D%220%22%20ry%3D%220%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22%23fff%22%20%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23viewboxMask)%22%3E%3Cmask%20id%3D%22baseBlue-a%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22white%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23baseBlue-a)%22%3E%3Cpath%20d%3D%22M320%20160C320%2071.634%20248.366%200%20160%200S0%2071.634%200%20160s71.634%20160%20160%20160%20160-71.634%20160-160%22%20fill%3D%22%23BDC1FF%22%2F%3E%3Cpath%20d%3D%22M133.733%20203.066c0-9.6-.326-56.951-.31-57.751-26.356%203.884-25.823-46.25.844-33.982%205.866%203.733%2022.4%200%2020.8-30.934%2028.8%2030.934%2062.236-5.145%2065.104%2024.254%203.915%2040.144-.024%2082.156-24.972%2082.159a46.7%2046.7%200%200%201-8.132-.813v17.067c0%2010.667%2019.2%2016%2019.2%2016s-33.166%2031.253-46.934%2031.08c-13.769-.172-44.8-31.08-44.8-31.08s19.2-5.333%2019.2-16%22%20fill%3D%22%232520F9%22%2F%3E%3Cpath%20d%3D%22M187.062%20185.994a105%20105%200%200%201-36.927-16.106s9.203%2022.5%2036.892%2026.769z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M258.529%20251.066c7.739%2017.196%2011.734%2069.333%2011.734%2069.333H50.529s3.995-52.137%2011.733-69.333c6.78-15.065%2051.456-32.362%2064.548-37.334%207.559%208.457%2018.392%2013.867%2033.586%2013.867s26.027-5.41%2033.586-13.867c13.092%204.972%2057.767%2022.269%2064.547%2037.334%22%20fill%3D%22%232520F9%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M159.838%2011.324c11.056-1.832%2019.408%204.698%2019.408%204.698.042-.026%207.393-4.486%2015.835%201.102%208.466%205.605%206.809%2011.957%206.809%2011.957.042-.005%2015.003-1.862%2024.937%2012.161%209.949%2014.043%202.018%2027.016%202.018%2027.016s10.633-4.246%2014.597%204.302c3.961%208.539-2.721%2015.27-2.736%2015.286.053.032%207.586%204.593%207.285%2016.591-.301%2012.014-7.253%2014.954-7.285%2014.968.039.061%205.428%208.415-1.471%2017.178-6.925%208.795-16.859%204.586-16.859%204.586.011.036%203.467%2011.169-3.476%2016.324l-.048.034c2.891-14.975%202.774-33.96.968-52.542-2.838-29.195-35.931%206.633-64.435-24.085%201.584%2030.718-14.779%2034.425-20.586%2030.718-26.392-12.181-26.92%2037.602-.835%2033.745-.007.388.066%2011.847.143%2024.565-6.038.496-10.379-1.532-10.379-7.791%200%200-7.256%203.838-13.908%200s-8.207-10.085-8.207-10.085c-.028.02-9.239%206.724-17.19-2.127-7.938-8.836-2.253-14.164-2.218-14.197-.04-.008-9.875-2.013-9.875-12.668%200-10.676%206.64-14.538%206.64-14.538-.041-.022-8.75-4.62-6.64-17.212%202.11-12.59%209.834-15.42%209.875-15.435%200%200-3.245-14.153%205.545-23.947%208.764-9.766%2020.266-9.788%2020.332-9.788%200%200-.968-14.557%2012.622-18.91s21.882%202.586%2021.882%202.586%206.196-12.66%2017.252-14.492%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M150.665%20235.792%20144.703%20378h28.621l-5.963-142.208s-5.565-5.998-8.347-5.998c-2.783%200-8.349%205.998-8.349%205.998m16.465%20136.235-5.604-133.648a34%2034%200%200%200-1.16-1.05%2021%2021%200%200%200-1.352-1.083c-.408.296-.867.662-1.354%201.083-.411.354-.805.714-1.16%201.05l-5.604%20133.648z%22%20fill%3D%22black%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M159.002%20227.181%20197.164%20213%20214%20224.559l-43.073%2026.83-11.925-21.605-11.926%2021.605L106%20224.559%20120.839%20213zm-37.132-7.43%2029.771%2011.062-6.668%2012.08-28.725-18.762zm51.226%2023.261-6.734-12.199%2029.985-11.142%206.765%204.645z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M130.461%20130.382c0%202.972-2.118%205.382-4.73%205.382s-4.731-2.41-4.731-5.382%202.118-5.382%204.731-5.382%204.73%202.41%204.73%205.382%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M136.174%20180.158c-7.353-20.418-10.569-39.978-11.03-48.261l4.721-.34c.426%207.639%203.508%2026.626%2010.687%2046.561%207.191%2019.967%2018.324%2040.409%2034.592%2051.54l.084.057.079.065s.072.096.445.022c.433-.087%201.117-.385%202.073-1.098%201.91-1.424%204.366-4.088%207.28-8.053%205.795-7.884%2012.978-20.328%2020.75-36.403l4.145%202.594c-7.841%2016.217-15.193%2029-21.266%2037.261-3.019%204.108-5.828%207.246-8.316%209.102-2.281%201.701-5.26%202.995-7.784%201.015-17.516-12.022-29.129-33.706-36.46-54.062%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M175.403%20310v-78.036h4.731V310z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M157.332%20123.625a1.25%201.25%200%200%201-1.004%201.465l-21.824%204.145a1.266%201.266%200%200%201-1.481-.993%201.25%201.25%200%200%201%201.003-1.464l21.825-4.145c.686-.13%201.35.314%201.481.992%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m181.373%20106.705-24.492%203.405c-1.49.207-2.469%201.645-2.102%203.088l6.206%2024.407a2.53%202.53%200%200%200%202.806%201.867l21.808-3.03c1.384-.192%202.348-1.458%202.154-2.826l-3.522-24.78c-.194-1.37-1.474-2.323-2.858-2.131m-24.845.926c-2.979.415-4.937%203.292-4.203%206.177l6.207%2024.407c.63%202.481%203.05%204.091%205.612%203.736l21.807-3.031c2.768-.385%204.697-2.916%204.307-5.653l-3.522-24.78c-.388-2.737-2.947-4.644-5.716-4.26zm45.73-3.7%2024.492-3.404c1.49-.206%202.832.91%202.881%202.396l.838%2025.154a2.51%202.51%200%200%201-2.178%202.56l-21.807%203.031c-1.384.192-2.663-.761-2.858-2.13l-3.522-24.781c-.194-1.368.77-2.633%202.154-2.826m24.14-5.881c2.979-.415%205.664%201.817%205.763%204.791l.836%2025.153c.085%202.556-1.792%204.765-4.354%205.121l-21.807%203.031c-2.768.385-5.326-1.523-5.716-4.26l-3.521-24.78c-.389-2.737%201.539-5.268%204.307-5.652z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22m201.207%20119.546-13.917%202.189-.398-2.471%2013.918-2.19z%22%20fill%3D%22white%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M207.484%20167.339c.345.622.09%201.391-.568%201.716-13.046%206.45-22.07.858-25.027-3.044-.432-.571-.292-1.365.312-1.774.604-.408%201.445-.276%201.877.295%202.255%202.975%209.85%208.075%2021.59%202.271.658-.325%201.472-.085%201.816.536%22%20fill%3D%22white%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E">
                            </a> 一起，在页面上编写 Scripts
                        </h6>
                        <p class="text-muted para">在页面中编写脚本，实现更灵活的业务逻辑和交互界面。</p>
                        <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Way 02.</li>
                            <li class="step-icon"><i class="uil uil-bolt h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            多种方式集成其他应用
                        </h6>
                        <p class="text-muted para">通过 API、数据源、Webhook 等方式灵活集成外部应用与服务，实现系统互通。</p>
                        <a href="javascript:void(0)" class="text-primary">👉 试一下 <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Way 03.</li>
                            <li class="step-icon"><i class="uil uil-apps h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- For you Start -->
  <section class="section pb-5 bg-light" id="section-for-you">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h3 class="title mb-4">NocoBase 适合谁</h3>
            <p class="text-muted para-desc mx-auto mb-0">在为企业内部或客户交付各类业务系统时，你的开发团队正面临以下 <span class="text-primary fw-bold">严峻挑战</span>：</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">业务需求<br />频繁变化</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-6">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">交付时间<br />短暂紧迫</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-6">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">开发过程<br />缓慢冗长</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-2 col-md-4 col-6">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">人员成本<br />居高不下</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-5 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">与此同时，随着 <span class="text-primary fw-bold">AI</span> 的兴起，你们可能还在为以下问题苦恼：</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row  justify-content-center">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">各种 AI 演示层出不穷，但落地到业务场景却十分困难</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">AI 模型难以与现有系统和业务流程无缝集成</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">AI 方案难以契合企业独特的流程与数据安全要求</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-5 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">你的团队已经意识到必须抛弃传统的开发方式，引入无代码开发可能是一条出路。然而，在调研或试用后，你们又常常对无代码平台产生 <span class="text-primary fw-bold">诸多担忧</span>：</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>能力有限，大多停留在表单和表格</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>笨拙而缺乏灵活性，面对未覆盖的需求无能为力</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>AI 相关功能停留在演示层面，难以结合实际业务场景落地</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>缺乏可扩展机制，将 AI 模型无缝嵌入到企业的数据和流程中十分困难</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>无法访问底层源代码，数据又托管在第三方服务器，隐私与安全难以保障</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>与既有系统难以实现无缝集成</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>受制于按用户或应用计费模式，最终购买的产品并不真正属于自己</li>
          </ul>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-4 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">不必担忧！试一试 NocoBase <br /> NocoBase 就是为你的开发团队量身定制的 <span class="text-primary fw-bold">基础设施</span>！</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- For you End -->

  <!-- How Start -->
  <section class="section pb-0" id="section-how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h3 class="title mb-4">NocoBase 是如何做的</h3>
            <p class="text-muted para-desc mx-auto mb-0">无代码和 AI 都不是万能的。<br />人、AI、代码的协同框架，才是当下可信赖的企业级基础。</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row  justify-content-center">
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-times-circle align-middle text-warning"></i></span>试图封装所有功能为无代码组件，用无代码满足一切需求</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-check-circle align-middle"></i></span>用无代码覆盖 80% 的通用需求，扩展开发解决剩余的个性化需求</li>
          </ul>
        </div><!--end col-->

        <div class="col-lg-6 col-md-6 col-12">
         <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-times-circle align-middle text-warning"></i></span>依赖 AI 生成完整业务系统，试图替代所有业务流程</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-check-circle align-middle"></i></span>构建优秀的人与 AI 协同框架，让 AI 在特定环节发挥最大价值</li>
          </ul>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top  mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">数据模型</span> 驱动，而非表单/表格驱动</h5>
            <p class="text-muted">NocoBase 采用 数据模型驱动 的方式，将数据结构与用户界面分离，突破了传统表单或表格驱动开发的限制，释放无限可能。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>界面与数据结构彻底解耦</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>同一个表或记录可以创建任意数量、任意形式的区块和操作</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>支持主数据库、外部数据库以及第三方 API 作为数据源</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/model.png" alt="Data model-driven approach in NocoBase, separating user interface from data structure. Supports multiple blocks and actions for the same table and record, integrating main database, external databases, and third-party APIs as data sources." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">所见即所得</span>，极易上手</h5>
            <p class="text-muted">NocoBase 能够开发复杂而独特的业务系统，但使用体验却简单直观。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>一键切换使用模式与配置模式</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>页面即画布，可随意拖拽区块和操作，像 Notion 一样搭建界面</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>配置模式面向普通用户设计，而非仅限程序员</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/wysiwyg.gif" alt="NocoBase WYSIWYG interface, showcasing easy-to-use, configurable UI for developing complex business systems. Features one-click switch between usage and configuration modes, allowing ordinary users to create and customize interfaces like Notion." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">AI 员工</span>，融入你的业务系统</h5>
            <p class="text-muted">不同于停留在演示层面的 AI，NocoBase 让你能够将 AI 能力无缝集成到交互界面、业务流程和数据上下文中，让 AI 真正落地于企业场景。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>定义 AI 员工，担任翻译员、分析员、调研员或助手等角色</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>AI 与人工无缝协同于交互界面和业务流程</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>确保 AI 的使用符合企业的安全、透明和定制化需求</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/plugins.png" alt="NocoBase plugin architecture, designed for extension development with a microkernel approach. All functionalities are implemented as plugins, similar to Wordpress. Plugins, including pages, blocks, actions, APIs, and data sources, can be easily installed and developed to meet complex and evolving business requirements." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">一切皆 <span class="text-primary">插件</span>，为扩展而生</h5>
            <p class="text-muted">仅仅堆叠无代码功能，永远无法覆盖所有业务场景。NocoBase 基于 插件化微内核架构，为扩展而设计。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>所有功能都是插件，类似于 WordPress</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>插件安装即用</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>页面、区块、操作、API、数据源等都可以通过插件扩展</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/plugins.png" alt="NocoBase plugin architecture, designed for extension development with a microkernel approach. All functionalities are implemented as plugins, similar to Wordpress. Plugins, including pages, blocks, actions, APIs, and data sources, can be easily installed and developed to meet complex and evolving business requirements." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-5">
        <div class="col-lg-6 col-md-6 mt-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">开源透明</span>，采用主流技术栈</h5>
            <p class="text-muted">NocoBase 核心代码和基础插件全部开源，且采用主流技术栈，提供绝对的透明度和可控性。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>核心与基础插件完全开源</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>使用 TypeScript 编写，基于 Node.js、React、Koa 等主流技术栈</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>仅定义标准接口，不使用私有 DSL</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>极简轻量，可运行在低配服务器上，一个人即可维护和扩展</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-6 col-md-6 mt-5">
          <div class="section-title">
            <h5 class="mb-4">透明且友好的 <span class="text-primary">授权模式</span></h5>
            <p class="text-muted">NocoBase 提供免费开源版本，同时提供商业授权和插件，采用 一次性购买，终身使用 的模式。</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>无需订阅</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>不按用户数量计费</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>不按应用数量计费</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>不按数据量计费</li>
            </ul>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- For you End -->

  <!-- Feedback Start -->
  <section class="section pb-0" id="section-feedback">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title">
            <h3 class="title mb-4">这很重要，听听用户们怎么说</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row justify-content-center">
        <div class="col-lg-9 mt-4 pt-2">
          <div class="tiny-single-item text-center">
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">使用 NocoBase 后我们的行政任务时间缩短了50%，协作与沟通得到加强，招聘流程更加迅速和高效。</p>
              <p class="text-muted fst-italic">在 TEDxDUTH，我们相信创新和协作的力量可以改变世界。NocoBase 使我们能够简化日常运营，从而将更多精力投入到真正重要的事务上——举办精彩的活动，传播有价值的思想。</p>
              <p class="text-muted fst-italic">如果你的组织正面临混乱或低效的工作流程，NocoBase 不仅仅是一个工具——它更是一个全面的解决方案，能够激发团队的潜能，实现更多可能。对我们来说，NocoBase 更像一个游戏规则的改变者，它让我们敢于梦想，彻底改变了我们的工作方式，并持续影响着我们的社区。</p>
              <p class="text-muted fst-italic">感谢 NocoBase 成为我们旅程中不可或缺的伙伴。我们携手并进，共同推进创新与灵感的传播！</p>
              <img src="https://static-docs.nocobase.com/20250713094749.png" class="mt-4 mb-4" width="160" alt="TED" />
              <h6 class="text-primary">Sarantis Antoniou <small class="text-muted">Lead Organizer </small></h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">我们曾对 AirTable 和 NocoDB 进行过评估，最终选择 NocoBase，是因为它更符合我们对系统自由度与部署方式的需求。NocoBase 可部署在我们的 AWS 环境中，不限制用户数量，权限控制精细，页面与数据分离的架构也让我们能灵活定制前端。同时，内建工作流和自动生成 API 的功能，大大提升了效率。</p>
              <a rel="nofollow" href="https://classmethod.jp/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094650.png" class="mt-4 mb-4" width="160" alt="classmethod" /></a>
              <h6 class="text-primary">クラスメソッド株式会社（Classmethod, Inc.）</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">在选择 NocoBase 之前，我们并没有一个专门的客服与运营管理系统。业务发展迅速，需要快速搭建并承接越来越多的需求，NocoBase 很好地解决了这个问题。它的数据表关联能力尤其出色，让我们可以将不同的数据结构高效整合，客服人员能快速查询用户信息并实时处理用户权益问题，极大提升了业务效率。</p>
              <a rel="nofollow" href="https://www.plaud.ai/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094635.png" class="mt-4 mb-4" width="160" alt="PLAUD" /></a>
              <h6 class="text-primary">PLAUD 产品经理 Lucas</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">我们一直在寻找一款灵活的无代码平台，以构建一个完全定制的排班系统，满足客户 Okechamp 快速增长的物流业务需求。调研阶段，NocoBase 凭借 Schema-first 架构、模块化设计和活跃的社区脱颖而出。它让我们轻松实现了自定义视图和报表管理。我们将继续在更多客户项目中采用 NocoBase。</p>
              <img src="https://static-docs.nocobase.com/20250713094700.png" class="mt-4 mb-4" width="160" alt="Lukardi" />
              <h6 class="text-primary">Lukardi SA</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">我们原本依赖纸质流程进行人事管理与休假审批，不仅效率低，还容易出错。自从使用 NocoBase 构建人事、出勤、休假等业务流程后，我们实现了真正的无纸化办公，110 多名员工的管理变得高效直观。NocoBase 灵活的界面设计和强大的 API 能力，完全满足了我们房地产行业的多样化需求。相比 Salesforce 等工具，它不仅可高度定制，还支持一次性买断，性价比非常高。我们正计划将更多系统迁移到 NocoBase，包括 CRM，并将其打造为公司门户与业务核心平台。</p>
              <a rel="nofollow" href="https://housewell-group.jp/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094720.png" class="mt-4 mb-4" width="160" alt="HouseWell" /></a>
              <h6 class="text-primary">ハウスウェル株式会社(HouseWell)</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">在构建智能工厂系统过程中，我们选择了 NocoBase 作为核心平台。它的极简配置流程让非技术人员也能快速构建系统页面，极大提升了开发效率；同时，插件生态和工作流引擎让我们能灵活应对多样的业务场景，确保系统质量与扩展性。借助 NocoBase 的细粒度权限系统，我们实现了设备维护、人事管理等流程的高效协作与数据安全共存。系统部署后，配合 PC + 移动端 + 5G 网络架构，成功实现数据的实时反馈与高效录入，为智能工厂建设打下了坚实基础。</p>
              <a rel="nofollow" href="https://www.bielcrystal.com" target="_blank"><img src="https://static-docs.nocobase.com/20250713094732.png" class="mt-4 mb-4" width="160" alt="BIEL" /></a>
              <h6 class="text-primary">伯恩光学控股有限公司 BIEL</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">在众多新型数据库产品中，NocoBase 是唯一让我感受到'即要、又要、还要'可以实现的解决方案。我们需要一个非 SaaS、低代码、可扩展的系统，来支撑跨几十个团队的任务协同和规范性强的专业场景。NocoBase 的学习曲线出乎意料地平滑，几天内我就能在不依赖开发的情况下完成业务流程的搭建。</p>
              <a rel="nofollow" href="https://www.aoya-hk.com/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094804.png" class="mt-4 mb-4" width="160" alt="奥雅设计" /></a>
              <h6 class="text-primary">奥雅设计 业务负责人 张廷源</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">在对比调研了多个国内外低代码平台后，我们最终选择了 NocoBase。它支持本地化部署和功能拓展，完美契合我们在化学领域对数据安全和系统定制化的高标准需求。NocoBase 提供的专业支持团队和灵活的数据建模能力，让系统上线变得高效且可靠。</p>
              <a rel="nofollow" href="https://xtalpi.com/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094812.png" class="mt-4 mb-4" width="160" alt="晶泰科技" /></a>
              <h6 class="text-primary">晶泰科技 项目负责人 熊智</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">I cannot emphasize enough the great experience we've had with NocoBase as a no-code/low-code platform. It stands out as exceptionally user-friendly, making our development process both smooth and efficient. What impressed me most was how easy it was to work on development of the user experience once the data model was in place. This streamlined approach allowed us to develop a full-fledged system, designed to be used by several hundred organizations, in just a matter of weeks.</p>
              <p class="text-muted fst-italic">NocoBase has effectively shattered the common misconception that powerful systems require months or even years of work. I highly recommend it for any organization looking to fast-track their development cycle without sacrificing quality.</p>
              <a rel="nofollow" href="https://sambruk.se/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094827.png" class="mt-4 mb-4" width="160" alt="Sambruk" /></a>
              <h6 class="text-primary">Thomas Wennersten <small class="text-muted">CTO</small></h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">NocoBase 作为数据管理、API 服务、工作流的核心，极大的降低了开发难度，使得我们的开发者能够更专注于业务逻辑的实现，从而大大提高了开发效率。</p>
              <p class="text-muted fst-italic">NocoBase 具备出色的集成能力，能够与各种第三方服务和系统进行无缝对接，实现数据共享和功能整合。这意味着我们无需从零开始构建所有功能，而是可以充分利用现有的服务和资源，将各种功能和服务快速集成到应用中。这种集成能力不仅减少了开发时间和成本，更使得应用的功能更加丰富和多样化，满足了用户多样化的需求。</p>
              <p class="text-muted fst-italic">在这个快速发展的数字化时代，NocoBase 无疑是我们应对挑战、实现创新的有力武器，感谢 NocoBase 团队的付出！</p>
              <a rel="nofollow" href="https://www.chinaunicom.com/" target="_blank"><img src="https://nocobase-docs.oss-cn-beijing.aliyuncs.com/liantong.png" class="mt-4 mb-4" width="160" alt="" /></a>
              <h6 class="text-primary">新疆联通科创实验室</h6>
            </div>
          </div><!--end owl carousel-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Feedback End -->

  <!-- Get Start -->
  <section class="section" id="section-get">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="title mb-4">准备好使用 NocoBase 了吗？</h3>
          <p class="text-muted para-desc mx-auto mb-0">1 分钟时间部署一个专属 demo。自己部署 NocoBase，同样很简单。</p>
          <div class="mt-4">
            <a href="https://demo.nocobase.com/new" target="_blank" class="btn btn-primary mt-2 mb-4" title="Click to experience NocoBase online">Live Demo <i class="uil uil-arrow-right"></i></a>
            <a href="https://docs.nocobase.com/welcome/getting-started/installation" target="_blank" class="btn btn-outline-primary mt-2 mb-4" title="Learn how to deploy NocoBase locally">Deploy locally <i class="uil uil-arrow-right"></i></a>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Get End -->

  <!-- Lightbox Start -->
    <!-- video in lightbox  -->
      <div style="display: none;">
        <div id="nocobase_video_lightbox">
          <video controls="">
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <!-- end video in lightbox  -->

      <!-- step1 lightbox -->
      <div style="display: none;">
        <div id="step1_lightbox">
          
        </div>
      </div>
      <!-- end step1 lightbox -->
  <!-- Lightbox End --> 
</Layout>
